@using Kaizen.Models.AdminModel
@model IEnumerable<UserGridModel>
@inject IHttpContextAccessor Accessor
@{
    var UserType = Accessor.HttpContext.Session.GetString("Userrole");
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous">
<link href="~/assets/css/ViewUser/datatables.min.css" rel="stylesheet" />
<script src="~/assets/js/custom/datatables.min.js"></script>
<link href="~/assets/css/custom/viewuser.css" rel="stylesheet" />

@* Table responsiveness *@
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>

<script>
    //This script is used to Pass all the Paramter from View User screen to Edit user screen by on click of edit user .
    $(document).ready(function () {
        $('tbody').on('click', '.edituser', function (e) {
            e.preventDefault();
            debugger;
            var $row = $(this).closest('tr');
            var empid = $row.data('empid');
            var name = $row.data('name');
            var email = $row.data('email');
            var gender = $row.data('gender');
            var domain = $row.data('domain');
            var department = $row.data('department');
            var usertype = $row.data('usertype');
            var status = $row.data('status');
            var phoneno = $row.data('phoneno');
            var password = $row.data('password');
            var cadre = $row.data('cadre');
            var ImageApprove = $row.data('imageapprover');
            var FirstName = $row.data('firstname');
            var MiddleName = $row.data('middlename');
            var LastName = $row.data('lastname');
            var blockdesc = $row.data('blockdesc');

            sessionStorage.setItem('editUser', JSON.stringify({
                empid: empid,
                name: name,
                email: email,
                gender: gender,
                domain: domain,
                department: department,
                usertype: usertype,
                status: status,
                phoneno: phoneno,
                password: password,
                cadre: cadre,
                ImageApprove: ImageApprove,
                FirstName: FirstName,
                MiddleName: MiddleName,
                LastName: LastName,
                blockdesc: blockdesc

            }));
            window.location.href = '/Admin/EditUser';
        });
    });

</script>
<div>
    <table id="Usertable" class="table table-striped responsive" style="width:100%">
        <thead>
            <tr style="text-align:center">
                <th width="5%">EMP ID</th>
                <th width="20%">NAME</th>
                <th width="20%">EMAIL</th>
                @* <th>GENDER</th> *@
                <th width="5%">TOTAL KAIZEN POSTED</th>
                <th width="10%">DEPARTMENT</th>
                <th width="10%">SUB-DEPARTMENT</th>
                <th width="10%">USER TYPE</th>
                <th width="5%">Image Approver</th>
                <th width="5%">STATUS</th>
                <th width="10%">ACTION</th>
            </tr>
        </thead>
        <tbody style="text-align:center">
            @if (Model != null)
            {
                foreach (var User in Model)
                {
                    <tr data-empid="@User.EmpID" data-name="@User.Name" data-email="@User.Email" data-gender="@User.Gender" data-domain="@User.Domain" data-department="@User.Department" data-usertype="@User.UserType" data-status="@User.Status" data-phoneno="@User.PhoneNo" data-password="@User.Password" data-cadre="@User.Cadre" data-imageapprover="@User.ImageApprover" data-firstname="@User.FirstName" data-middlename="@User.MiddleName" data-lastname="@User.LastName" data-Blockdesc="@User.BlockDesc">
                        <td width="5%">@User.EmpID</td>
                        <td width="20%">@User.Name</td>
                        <td width="20%">@User.Email</td>
                        @* <td>@User.Gender</td> *@
                        <td width="5%">
                            <a class="TotalKaizen" href="#" data-id="@User.Id" data-role="@User.role">@User.TotalKaizenPosted</a>
                        </td>
                        <td width="10%">@User.Domain</td>
                        <td width="10%">@User.Department</td>
                        <td width="10%">@User.UserType</td>
                        <td width="5%">
                            @if(User.ImageApprover == 1)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                        <td width="5%">
                            @if (@User.Status == 0)
                            {
                                <a><span class="btn btn-warning badge-sm">InActive</span></a>
                            }
                            else
                            {
                                <a><span class="btn btn-success badge-sm">Active</span></a>
                            }
                        </td>
                        <td class="text-center" width="10%">
                            <a class="btn btn-primary btn-sm edituser" data-empid="@User.EmpID">
                                <i class="edit fas fa-solid fa-pencil"></i>
                            </a>
                            <a id="deleteuser" class="btn btn-danger btn-sm deleteuser" data-empid="@User.EmpID" data-status="@User.Status">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                        @*  <td>@User.BlockDesc</td> *@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    //This script will convert Normal HTML Table to jquery Datatble .
    $(document).ready(function () {
        $('#Usertable').DataTable({ /* responsive: true */ });
    });
</script>
<script>
    //This script is used for onclick of Total Kaizen Posted it will redirect to Submited Kaizen Grid and display only Kaizen posted by him. 
    $(document).ready(function () {
        $('#Usertable').on('click', '.TotalKaizen', function (e) {
            e.preventDefault();
            var $row = $(this).closest('tr');
            var user = $(this).data('id');
            var role = $(this).data('role');
            var LoginRole = '@UserType';

            sessionStorage.setItem('ViewKaizen', JSON.stringify({
                user: user,
                role: role,
                LoginRole: LoginRole
            }));
            window.location.href = '/SubmittedKaizen/ViewKaizen';
        });
    });
</script>
<script>
    //This script is used to delete User.
    $(document).ready(function () {
        $('tbody').on('click', '.deleteuser', function (e) {
            e.preventDefault();
            var empid = $(this).data('empid'); 
            var flag = $(this).data('status');
            if (flag == 1) {
                swal({
                    title: "Warning",
                    text: "Only inactive users can be deleted",
                    icon: "warning",
                });
                return;
            }
            else 
            {
                swal({
                    text: "Are you sure you want to Delete the User ?",
                    buttons: {
                        confirm: "Yes",
                        cancel: "No",
                    },
                }).then((userConfirmation) => {
                    if (userConfirmation) {
                        $.ajax({
                            url: '/ViewUser/DeleteUser',
                            method: 'POST',
                            data: { id: empid },
                            success: function (response) {
                                swal({
                                    title: "Success!",
                                    text: "User Deleted Successfully",
                                    icon: "success",
                                }).then((value) => {
                                    window.location.reload();
                                });
                            },
                            error: function (xhr, status, error) {
                                swal('Delete user error');
                            }
                        });
                    }
                });
            }
        });
    });
</script>
