@model IEnumerable<Kaizen.Models.WinnersList.WinnersListModel>
@{
    Layout = "SidebarLayout";
}
<link rel="stylesheet" href="~/assets/css/WinnersList.css" />

<div id="winnersComp" class="py-5">
    <div class="cardSpace border-0 card container-fluid shadow-sm rounded-lg col-12 py-3 px-5">
        <h1 class="text-primary">View Winners List-</h1>
        <div class="row">
            <div class="col">
                <p id="pathId">Kaizen Idea > Kaizen Mang > View Winners List</p>
            </div>
            <div class="col text-right">
                <button id="toggleWinnersBtn" type="button" class="btn btn-azure">Add Winner</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div id="winnersCardContainer">
        <div class="border-0 card container-fluid shadow rounded-lg col-12 py-3 px-5" id="winnersCard">
            <div class="col-sm-12 p-md-0">
                <h1 class="text-primary"> Winners List-</h1>
            </div>
            <br>
            <hr class="bold text-dark">
            <br />
            <div class="row">
                <div class="table-responsive" style="overflow-x: hidden">
                    @{
                        var counter = 1;
                        var sortedWinners = Model.OrderBy(w => w.Category).ToList();
                        string CategoryTracker = null; 
                    }


                    <table class="table table-bordered">


                        @foreach (var winner in sortedWinners)
                        {
                            @if (CategoryTracker != winner.Category)
                            {
                               
                                <thead>
                                    <tr>
                                        <td class="border-0">
                                            <h1 style="font-size: x-large;">@winner.Category</h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="border-0 text-center">S.NO</th>
                                        <th class="border-0 text-center">Emp Id</th>
                                        <th class="border-0 text-center">Emp Name</th>
                                        <th class="border-0 text-center" hidden>CATEGORY</th>
                                        <th class="border-0 text-center">START DATE</th>
                                        <th class="border-0 text-center">END DATE</th>
                                        <th class="border-0 text-center">STATUS</th>
                                        <th class="border-0 text-center">ACTION</th>
                                    </tr>
                                </thead>
                            }
                            @switch (winner.Category)
                            {
                                case "Gold":
                                    {
                                        @*  <tr>
                        <td>
                        winner.Category
                        </td>
                        </tr> *@      
                                        <tbody>

                                            <input id="colNos" hidden value="@Model.Count()" />

                                            <tr>

                                                <td class="text-center align-middle">
                                                    <p>@counter</p>
                                                    @{
                                                        counter++;
                                                    }
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EmpID
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EmpName
                                                    </div>
                                                </td>
                                                <td class="align-middle" hidden>
                                                    <div class="row justify-content-center">
                                                        @winner.Category
                                                    </div>
                                                </td>



                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.StartDate.ToString("dd-MM-yyyy")
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EndDate.ToString("dd-MM-yyyy")
                                                    </div>
                                                </td>

                                                <td hidden>@winner.DomainName</td>
                                                <td hidden>@winner.DepartmentName</td>
                                                <td hidden>@winner.Category</td>
                                                <td hidden>@winner.Id</td>


                                                <td class="align-middle text-center">
                                                    @if (winner.Status == "Active" && DateTime.Now <= winner.EndDate)
                                                    {
                                                        <span id="statusBadgeA" class="badge bg-success text-white" data-status="Active">Active</span>
                                                    }
                                                    @if (winner.Status == "Inactive" && DateTime.Now <= winner.EndDate)
                                                    {
                                                        <span id="statusBadgeI" class="badge bg-warning text-white" data-status="Inactive">Inactive</span>
                                                    }
                                                    @if (DateTime.Now >= winner.EndDate)
                                                    {
                                                        <span id="statusBadge" class="badge bg-danger text-white" data-status="Expired">Expired</span>
                                                    }

                                                </td>

                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        <a id="EditFunction" class="btn btn-primary btn-sm editdepartment mx-1">
                                                            <i class="edit fas fa-pencil editWinner"></i>
                                                        </a>
                                                        <a id="DeleteFunction" class="btn btn-danger btn-sm DeleteDepartment mx-1">
                                                            <i class="edit fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                    CategoryTracker = winner.Category;
                                    break;
                                case "Silver":
                                    {
                                        @*  <tr>
                        <td>
                        winner.Category
                        </td>
                        </tr> *@
                                        <tbody col-4>

                                            <input id="colNos" hidden value="@Model.Count()" />

                                            <tr>

                                                <td class="text-center align-middle">
                                                    <p>@counter</p>
                                                    @{
                                                        counter++;
                                                    }
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EmpID
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EmpName
                                                    </div>
                                                </td>
                                                <td class="align-middle" hidden>
                                                    <div class="row justify-content-center">
                                                        @winner.Category
                                                    </div>
                                                </td>



                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.StartDate.ToString("dd-MM-yyyy")
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EndDate.ToString("dd-MM-yyyy")
                                                    </div>
                                                </td>

                                                <td hidden>@winner.DomainName</td>
                                                <td hidden>@winner.DepartmentName</td>
                                                <td hidden>@winner.Category</td>
                                                <td hidden>@winner.Id</td>


                                                <td class="align-middle text-center">
                                                    @if (winner.Status == "Active" && DateTime.Now <= winner.EndDate)
                                                    {
                                                        <span id="statusBadgeA" class="badge bg-success text-white" data-status="Active">Active</span>
                                                    }
                                                    @if (winner.Status == "Inactive" && DateTime.Now <= winner.EndDate)
                                                    {
                                                        <span id="statusBadgeI" class="badge bg-warning text-white" data-status="Inactive">Inactive</span>
                                                    }
                                                    @if (DateTime.Now >= winner.EndDate)
                                                    {
                                                        <span id="statusBadge" class="badge bg-danger text-white" data-status="Expired">Expired</span>
                                                    }

                                                </td>

                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        <a id="EditFunction" class="btn btn-primary btn-sm editdepartment mx-1">
                                                            <i class="edit fas fa-pencil editWinner"></i>
                                                        </a>
                                                        <a id="DeleteFunction" class="btn btn-danger btn-sm DeleteDepartment mx-1">
                                                            <i class="edit fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                    CategoryTracker = winner.Category;
                                    break;
                                case "Bronze":
                                    {
                                        @*  <tr>
                        <td>
                        winner.Category
                        </td>
                        </tr> *@
                                        <tbody col-4>

                                            <input id="colNos" hidden value="@Model.Count()" />

                                            <tr>

                                                <td class="text-center align-middle">
                                                    <p>@counter</p>
                                                    @{
                                                        counter++;
                                                    }
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EmpID
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EmpName
                                                    </div>
                                                </td>
                                                <td class="align-middle" hidden>
                                                    <div class="row justify-content-center">
                                                        @winner.Category
                                                    </div>
                                                </td>



                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.StartDate.ToString("dd-MM-yyyy")
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        @winner.EndDate.ToString("dd-MM-yyyy")
                                                    </div>
                                                </td>

                                                <td hidden>@winner.DomainName</td>
                                                <td hidden>@winner.DepartmentName</td>
                                                <td hidden>@winner.Category</td>
                                                <td hidden>@winner.Id</td>


                                                <td class="align-middle text-center">
                                                    @if (winner.Status == "Active" && DateTime.Now <= winner.EndDate)
                                                    {
                                                        <span id="statusBadgeA" class="badge bg-success text-white" data-status="Active">Active</span>
                                                    }
                                                    @if (winner.Status == "Inactive" && DateTime.Now <= winner.EndDate)
                                                    {
                                                        <span id="statusBadgeI" class="badge bg-warning text-white" data-status="Inactive">Inactive</span>
                                                    }
                                                    @if (DateTime.Now >= winner.EndDate)
                                                    {
                                                        <span id="statusBadge" class="badge bg-danger text-white" data-status="Expired">Expired</span>
                                                    }

                                                </td>

                                                <td class="align-middle">
                                                    <div class="row justify-content-center">
                                                        <a id="EditFunction" class="btn btn-primary btn-sm editdepartment mx-1">
                                                            <i class="edit fas fa-pencil editWinner"></i>
                                                        </a>
                                                        <a id="DeleteFunction" class="btn btn-danger btn-sm DeleteDepartment mx-1">
                                                            <i class="edit fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                    CategoryTracker = winner.Category;
                                    break;
                            }
                        }
                    </div>
                    </table>




                </div>
            </div>
        </div>
    </div>
</div>

<div id="addWinnerForm" class="add-winner-form border-0 card container-fluid shadow rounded-lg col-12 py-3 px-5" style="display: none; margin-top: -34px;">
    <h1 class="text-primary">Add Winner</h1>
    <form id="winnerForm">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label>Category</label>
                    <select id="Category" class="form-control">
                        <option value="Gold">Gold</option>
                        <option value="Silver">Silver</option>
                        <option value="Bronze">Bronze</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
                <input type="text" hidden value="null" id="empGuid" />
                <p id="empGuidError"></p>
                <div class="col">
                    <label>Emp ID</label>
                    <input id="empId" type="number" class="text-primary form-control bg-light" />
                    <p id="eIDError"></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Emp Name</label>
                    <input readonly id="empName" onclick="getKai()" class="form-control text-primary bg-light" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Domain</label>
                    <input readonly id="empDom" class="form-control text-primary bg-light" />
                    <span class="text-danger"></span>
                </div>
                <div class="col">
                    <label>Department</label>
                    <input readonly id="empDep" class="form-control text-primary bg-light" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Start Date</label>
                    <input id="startDate" class="form-control text-primary bg-light" type="date" />
                    <label id="sDError"></label>
                    <span class="text-danger"></span>
                </div>
                <div class="col">
                    <label>End Date</label>
                    <input id="endDate" class="form-control text-primary bg-light" type="date" />
                    <label id="eDError"></label>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col text-center">
                <input type="button" id="addWinnerBtn" value="Add" class="btn btn-azure"></input>
            </div>
        </div>
    </form>
    <br />
    <h1 id="listWinnersH" class="text-primary">List Winners-</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center h-100">
            <div class="card goldCard">
                <img src="~/assets/img/WinnersPage/gold.jpg" class="w-100 img-fluid card-img-top" alt="" />
                <div class="row no-gutters">
                    <div class="col">
                        <input class="form-control font-weight-bold text-warning" value="Emp ID" />
                    </div>
                    <div class="col">
                        <input class="form-control font-weight-bold text-warning" value="Name" />
                    </div>
                    <div class="col">
                        <input class="form-control font-weight-bold text-warning" value="Domain and Department" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center h-100">
            <div class="card silverCard">
                <img src="~/assets/img/WinnersPage/silver.jpg" class="w-100 img-fluid card-img-top" alt="" />
                <div class="row no-gutters">

                    <div class="col">
                        <input class="form-control text-primary font-weight-bold text-secondary" value="EmpID" />
                    </div>
                    <div class="col">
                        <input class="form-control text-primary font-weight-bold text-secondary" value="Name" />
                    </div>
                    <div class="col">
                        <input class="form-control text-primary font-weight-bold text-secondary" value="Domain and Department" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center h-100">
            <div class="card bronzeCard">
                <img src="~/assets/img/WinnersPage/bronze.jpg" class="w-100 img-fluid card-img-top" alt="" />
                <div class="row no-gutters">
                    <div class="col">
                        <input class="form-control font-weight-bold" style="color:#652D12;" value="EmpID" />
                    </div>
                    <div class="col">
                        <input class="form-control font-weight-bold" style="color:#652D12;" value="Name" />
                    </div>
                    <input hidden class="newRow" />
                    <div class="col">
                        <input class="form-control font-weight-bold" style="color:#652D12;" value="Domain and Department" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function getKai() {
        var empId = $('#empId').val().trim();

        if (empId !== '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("WinnersList", "WinnersList")',
                contentType: 'application/json',
                data: JSON.stringify({
                    NewKaizen: { EmpId: empId },
                    WinnersList: {}
                }),
                success: function (response) {
                    $('#eIDError').text('');
                    $('#empName').val(response.name);
                    $('#empDom').val(response.domain);
                    $('#empDep').val(response.department);
                    $('#empGuid').val(response.empguid);
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                }
            });
        }
    }

    $(document).ready(function () {
        $(document).on('click', '#addWinnerBtn', function () {
            var empGuid = $('#empGuid').val().trim();
            var empId = $('#empId').val().trim();
            var empName = $('#empName').val().trim();
            var category = $('#Category').val().trim();
            var startDate = $('#startDate').val().trim();
            var endDate = $('#endDate').val().trim();
           var result = JSON.stringify({
    EmpGd: empGuid,
    EmpId: empId,
    EmpName: empName,
    Category: category,
    StD: startDate,
    EdD: endDate
});
console.log(result);

            var isValid = true;
            if(startDate === ""){
                $('#sDError').text('Start Date is required').addClass('text-danger');
                isValid = false;
            }

            if(endDate === ""){
                $('#eDError').text('End Date is required').addClass('text-danger');
                isValid = false;
            }
            if (empId === "") {
                if(empName === ""){
                     $('#eIDError').text('Emp Id is required').addClass('text-danger');
                     isValid = false;
                }
            }
                if (empId === "" && empName === "") {
                    alert("Yes");
                    $('#eIDError').text('Invalid Employee ID').addClass('text-danger');
                    isValid = false;
                }
            

            if (isValid == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("WinnersList", "WinnersList")',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        NewKaizen: {},
                        WinnersList: {
                            Id: '00000000-0000-0000-0000-000000000000',
                            EmpGUID: empGuid,
                            Category: category,
                            StartDate: startDate,
                            EndDate: endDate,
                            CreatedBy: '00000000-0000-0000-0000-000000000000',
                            CreatedDate: '0001-01-15T00:00:00',
                            ModifiedBy: '00000000-0000-0000-0000-000000000000',
                            ModifiedDate: '0001-01-15T00:00:00'
                        }
                    }),
                    success: function (response) {
                        console.log(response);
                        if (response == "Posted") {
                            swal({
                                text: "Winner Added successfully !!",
                                type: "success"
                            }).then(OK => {
                                location.reload();
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('Error:', error);
                    }
                });
            }

            
        });


        $(document).on('click', '#statusBadgeI, #statusBadgeA, #statusBadgeE', function () {
            console.log("This is " + this);
            var $row = $(this).closest('tr');
            var dat = $row.find('td:eq(7)').text().trim();
            var UId = $row.find('td:eq(9)').text().trim();
            var badgeName = $(this).text().trim();
            var status;

            if (badgeName === 'Inactive') {
                console.log("Inactive");
                status = "Active";
            } else if (badgeName === 'Active') {
                console.log("Active");
                status = "Inactive";
            }
            else {
                alert(badgeName);
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateWinnerStatus", "WinnersList")',
                data: {
                    Id: UId,
                    Status: status
                },
                success: function (response) {
                    console.log(response);
                    if (response) {
                        switch (status) {
                            case "Active":
                                this.text('Inactive');
                                this.removeClass('bg-success').addClass('bg-warning');

                                break;
                            case "Inactive":
                                this.text('Active');
                                this.removeClass('bg-warning').addClass('bg-success');

                                break;
                        }

                    }
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                }
            }).then(function () {
                location.reload();
            });
        });

        var winnersList = @Html.Raw(Json.Serialize(Model));
        console.log(winnersList);

        $('#statusBadge').click(function () {
            var status = $(this).data('status');
            if (status === 'Inactive') {
                $(this).removeClass('bg-warning').addClass('bg-success').text('Active');
                $(this).data('status', 'Active');
            } else if (status === 'Active') {
                $(this).removeClass('bg-success').addClass('bg-warning').text('Inactive');
                $(this).data('status', 'Inactive');
            }
        });

        $('tbody').on('click', '#DeleteFunction', function (e) {
            e.preventDefault();
            var $row = $(this).closest('tr');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteWinner", "WinnersList")',
                data: {
                    id: parseInt($row.find('td:eq(1)').text().trim()),
                    sd: $row.find('td:eq(4)').text().trim(),
                    ed: $row.find('td:eq(5)').text().trim()
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                }
            });
        });

        function convertDateFormat(date) {
            var parts = date.split('-');
            return parts[2] + '-' + parts[1] + '-' + parts[0];
        }

        $('#toggleWinnersBtn').click(function () {
            $('#empName').val('');
            $('#empDom').val('');
            $('#empDep').val('');
            $('#startDate').val('');
            $('#endDate').val('');

            var btnText = $(this).text();
            var addButton = $('<input>', {
                type: 'button',
                id: 'addWinnerBtn',
                class: 'btn btn-azure',
                value: 'Add'
            });

            if (btnText === 'Add Winner') {
                
                $(this).text('View Winners List');
                $('#winnersCardContainer').hide();
                $('#addWinnerForm').show();
                $('#pathId').text('Kaizen Idea > Kaizen Mang > Add Winners');
            } else {
                
                var rel= location.reload();
                if(rel){
                    $(this).text('Add Winner');
                $('#updateWinnerBtn').replaceWith(addButton);
                $('#addWinnerForm').hide();
                $('#winnersCardContainer').show();
                $('#pathId').text('Kaizen Idea > Kaizen Mang > View Winners');
                }
            }

            if ($('#pathId').text() === 'Kaizen Idea > Kaizen Mang > View Winners') {
                $('.newCell').remove();
            }
        });

        $('tbody').on('click', '#EditFunction', function (e) {
            e.preventDefault();

            $('.newCell').remove();

            var updateButton = $('<input>', {
                type: 'button',
                id: 'updateWinnerBtn',
                class: 'btn btn-azure',
                value: 'Update'
            });

            var $row = $(this).closest('tr');
            var dat = $row.find('td:eq(4)').text().trim();
            var empIdStr = $row.find('td:eq(1)').text().trim();
            var empIdStr2 = $row.find('td:eq(2)').text().trim();
            var empIdStr3 = $row.find('td:eq(3)').text().trim();
            var EmpID = $row.find('td:eq(1)').text().trim();
            var WinId, WinName, dom, dep, Wcategory, WiD;

            if (EmpID > 0) {
                WinName = $row.find('td:eq(2)').text().trim();
                WinId = $row.find('td:eq(1)').text().trim();
                dom = $row.find('td:eq(6)').text().trim();
                dep = $row.find('td:eq(7)').text().trim();
                Wcategory = $row.find('td:eq(8)').text().trim();
                WiD = $row.find('td:eq(9)').text().trim();
            }
            function convertDateFormat(dateStr) {
                var parts = dateStr.split('-');
                return parts[2] + '-' + parts[1] + '-' + parts[0];
            }
            var startDate = convertDateFormat($row.find('td:eq(4)').text().trim());
            var endDate = convertDateFormat($row.find('td:eq(5)').text().trim());

            $('#empId').val(empIdStr).prop('readonly', true).css('opacity', '0.5');
            $('#Category').val(Wcategory).prop('disabled', true).css('opacity', '0.5');;
            $('#toggleWinnersBtn').trigger('click');
            $('#empName').val(WinName).prop('readonly', true).prop('disabled', true).css('opacity', '0.5');
            $('#empDom').val(dom).prop('readonly', true).prop('disabled', true).css('opacity', '0.5');
            $('#empDep').val(dep).prop('readonly', true).prop('disabled', true).css('opacity', '0.5');
            $('#startDate').val(startDate);
            $('#endDate').val(endDate);

            $('body').on('click', '#updateWinnerBtn', function () {
                var empId = WinId;
                var category = Wcategory;
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();

                       
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateWinnersList", "WinnersList")',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Id: WiD,
                        EmpID: empId,
                        Category: category,
                        StartDate: startDate,
                        EndDate: endDate
                    }),
                    success: function (response) {
                        if (response) {
                            swal({
                                text: "Winner Updated successfully !!",
                                type: "success"
                            }).then(OK => {
                                location.reload();
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('Error:', error);
                    }
                });
            });

            $('#addWinnerBtn').replaceWith(updateButton);
            var winnersList = @Html.Raw(Json.Serialize(Model));
            console.log(WinId + Wcategory)
            winnersList.forEach(function (item) {
                {

                    switch (Wcategory) {
                        case "Gold":
                            if ((WinId == item.empID) && (item.category == "Gold")) {
                                $('.newCell').remove();
                                var goldRow = '<div class="row newGoldRow no-gutters">';
                                goldRow += '<div class="col"><input class="newCell form-control text-warning" value="' + item.empID + '" /></div>';
                                goldRow += '<div class="col"><input class="newCell form-control text-warning" value="' + item.empName + '" /></div>';
                                goldRow += '<div class="col"><input class="newCell form-control text-warning" value="' + item.domainName + ' & ' + item.departmentName + '" /></div>';
                                goldRow += '</div>';

                                $('.goldCard').append(goldRow);
                            }
                            break;

                        case "Silver":

                            if ((WinId == item.empID) && (item.category == "Silver")) {
                                var silverRow = '<div class="row newSilverRow no-gutters">';
                                silverRow += '<div class="col"><input class="newCell form-control text-secondary" value="' + item.empID + '" /></div>';
                                silverRow += '<div class="col"><input class="newCell form-control text-secondary" value="' + item.empName + '" /></div>';
                                silverRow += '<div class="col"><input class="newCell form-control text-secondary" value="' + item.domainName + ' & ' + item.departmentName + '" /></div>';
                                silverRow += '</div>';
                                $('.silverCard').append(silverRow);
                            }
                            break;

                        case "Bronze":

                            if ((WinId == item.empID) && (item.category == "Bronze")) {
                                var bronzeRow = '<div class="row newBronzeRow no-gutters">';
                                bronzeRow += '<div class="col"><input style="color:#652D12;" class="newCell form-control" value="' + item.empID + '" /></div>';
                                bronzeRow += '<div class="col"><input style="color:#652D12;" class="newCell form-control" value="' + item.empName + '" /></div>';
                                bronzeRow += '<div class="col"><input style="color:#652D12;" class="newCell form-control" value="' + item.domainName + ' & ' + item.departmentName + '" /></div>';
                                bronzeRow += '</div>';
                                $('.bronzeCard').append(bronzeRow);
                            }
                            break;

                        default:
                            break;
                    }
                }
            });
        });
    });
</script>
