@using Kaizen.Models.NewKaizen;
@model NewKaizenModel;
@{
    Layout = "SidebarLayout";
}
<style>
    .btn-danger {
        color: #fff!important;
        background-color: #dc3545!important;
        border-color: #dc3545!important;
    }
    .btn-azure{
        color: #fff !important;
    }

    .input-width {
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        
        border: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
    }

    .col-lg-4 {
        width: 25%;
    }

    .input-width {
        width: 100%;
    }

</style>
<link href="~/assets/css/custom/newkaizen.css" rel="stylesheet" />
<div class="content-body body">
    <div class="container-fluid mt-5">
        <!-- Page Title -->
        <div class="row page-titles mx-0 mt-5">
            <div class="col-sm-12 p-md-0">
                <div class="welcome-text">
                    <h4>Create Kaizen<button class="btn btn-azure float-right" type="button">Sample Kaizen Form</button></h4>
                    <p class="responsemessage"></p>
                </div>
            </div>
        </div>
        <!-- END Page Title -->
        <!-- Accordion Section -->

        <div class="accordion-bral">

            <!-- Accordion Item 1 -->

            <input class="ac-input" id="ac-1" name="accordion-1" type="checkbox" checked />

            <label class="ac-label" for="ac-1"> Create Kaizen Details <i></i></label>

            <div class="article ac-content">

                <div class="card-body">
                    @* <h3 class="card-title">Post My Idea</h3> *@
                    <hr><br>
                    <div class="basic-form">
                        <div class="col-lg-12">

                            <div class="row">
                                <!-- 1th box -->
                                <div class="col-lg-3">
                                    <div class="carddashed">

                                        <div class="card-body">

                                            <div class="right-box-padding">

                                                <div class="read-content">
                                                    <div class="row justify-content-center">

                                                        <div class="card-body text-center">

                                                            <img src="~/assets/img/tatalogo.png" class="kaizenlogo" alt="TEPL KAIZEN IDEA Logo">

                                                            <br><b>TEPL KAIZEN IDEA</b>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <!-- 2th box -->
                                <div class="col-lg-4">
                                    <div class="carddashed">
                                        <div class="card-body">

                                            <div class="right-box-padding">
                                                <div class="read-content">

                                                    <div class="card-body">

                                                        <div class="activity-group" id="checkboxform">
                                                            <label>ACTIVITY<span class="mandatory">*</span></label>
                                                            <label data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/activity.png" height="40" />' title="ACTIVITY [Example]">
                                                                <input type="checkbox" class="hideradio" id="idMura" value="MURA">MURA
                                                            </label>

                                                            <label data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/activity.png" height="40" />' title="ACTIVITY [Example]">
                                                                <input type="checkbox" class="hideradio" id="idMuri" value="MURI"> MURI
                                                            </label>

                                                            <label data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/activity.png" height="40"; />' title="ACTIVITY [Example]">
                                                                <input type="checkbox" class="hideradio" id="idMuda" value="MUDA"> MUDA
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <textarea class="form-control mb10" name="activity_desc" id="activityDesc" value="@Model.ActivityDesc"></textarea>
                                                        </div>



                                                        <div class="form-group" id="checkboxform1">
                                                            <!-- <label> -->
                                                            <label class="d-block">Benefit Area <span class="mandatory">*</span></label>

                                                            <label class="tab tabcheckbox" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/benifitarea.png" height="50" />' title="Benefit Area [Example]">
                                                                <input type="checkbox" value="P" id="iP" class="tab-input">
                                                                <div class="tab-box">P</div>
                                                            </label>

                                                            <label class="tab tabcheckbox" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/benifitarea.png" height="50" />' title="Benefit Area [Example]">
                                                                <input type="checkbox" value="Q" id="iQ"class="tab-input">
                                                                <div class="tab-box">Q</div>
                                                            </label>

                                                            <label class="tab tabcheckbox" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/benifitarea.png" height="50" />' title="Benefit Area [Example]">
                                                                <input type="checkbox" value="D" id="iD"class="tab-input">
                                                                <div class="tab-box">D</div>
                                                            </label>

                                                            <label class="tab tabcheckbox" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/benifitarea.png" height="50" />' title="Benefit Area [Example]">
                                                                <input type="checkbox" value="S" id="iS" class="tab-input">
                                                                <div class="tab-box">S</div>
                                                            </label>

                                                            <label class="tab tabcheckbox" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/benifitarea.png" height="50" />' title="Benefit Area [Example]">
                                                                <input type="checkbox" value="M" id="iM" class="tab-input">
                                                                <div class="tab-box">M</div>
                                                            </label>

                                                            <label class="tab tabcheckbox " data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/benifitarea.png" height="50" />' title="Benefit Area [Example]">
                                                                <input type="checkbox" value="E" id="iE"class="tab-input">
                                                                <div class="tab-box">E</div>
                                                            </label>
                                                            <!-- </label> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- end2nd -->
                                <!--3rd-->
                                <div class="col-lg-5">
                                    <div class="carddashed">
                                        <div class="card-body">

                                            <div class="right-box-padding">
                                                <div class="read-content">

                                                    <div class="card-body">

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Doc No <span class="mandatory">*</span></label>
                                                                    <input type="text" name="docNo" id="docNo" class="form-control mb10" value="@Model.DocNo">
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Version No/Date<span class="mandatory">*</span></label>
                                                                    <input type="text" name="versionNo" id="versionNo" class="form-control mb10" value= "01/ @Model.OriginatedDate">
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Cost Centre<span class="mandatory">*</span></label>
                                                                    <input type="text" required="" name="codeCentre" id="codeCentre" class="form-control mb10 " value="@Model.CostCentre" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">00C</p>' title="Cost Centre [Example]">
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>KAIZEN Ref.No<span class="mandatory">*</span></label>
                                                                    <input type="text" required="" name="refNo" id="refNo" class="form-control " value="@Model.KaizenRefNo" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">IM/PP/05</p>' title="KAIZEN Ref.No [Example]">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--3rdend-->
                            </div>
                            <!-- End Row -->
                        </div>
                        @* table2 *@
                        <div class="col-lg-12">
                            <div class="carddashed">
                                <div class="right-box-padding">
                                    <div class="read-content">

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Block<span class="mandatory">*</span></label> <br>
                                                        <div class="dropdown bootstrap-select ">
                                                            @* <select class="form-control selectized" name="plantname" id="plantname" required="" tabindex="-1">
                                                                <option value="" selected="selected">Select</option>
                                                                <!-- Add options here -->
                                                                <option value="option1">Option 1</option>
                                                                <option value="option2">Option 2</option>
                                                                <option value="option3">Option 3</option>
                                                            </select> *@

                                                            <select id="BlockName" class="form-control txt-width" name="UserType">
                                                                <option selected>Select</option>
                                                                @if (Model.BlockList != null)
                                                                {
                                                                    foreach (var modellist in Model.BlockList)
                                                                    {
                                                                        <option value="@modellist.Id">@modellist.BlockName</option>
                                                                    }
                                                                }
                                                            </select>
                                                            <span id="BlockError" class="text-danger error-message"></span>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Kaizen Theme <span class="mandatory">*</span></label>
                                                        <input type="text" name="ktheme" id="ktheme" required="" class="form-control" value="@Model.KaizenTheme" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">Poka yoke in Rail placing</p>' title=" Kaizen Theme [Example] ">
                                                        <span id="themeError" class="text-danger error-message"></span>

                                                    </div>
                                                </div>


                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Block/Line/Machine/Others <span class="mandatory">*</span></label>
                                                        <input type="text" name="teplplant" id="teplplant" required="" class="form-control" value="" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">IM 01 Process</p>' title="Block/Line/Machine/Others [Example]">
                                                        <span id="plantError" class="text-danger error-message"></span>
                                                    </div>
                                                </div>




                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Suggested Kaizen ( Logical Correlation with root cause) <span class="mandatory">*</span></label>
                                                        <input type="text" required="" name="suggestedKaizen" id="suggestedKaizen" class="form-control" value="@Model.SuggestedKaizen" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">Provide stopper pin in Heating Fixture</p>' title="Suggested Kaizen [Example]">
                                                        <span id="suggestedKaizenError" class="text-danger error-message"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--row-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        @* endtable2 *@
                        @* table3 *@
                        <div class="col-lg-12">
                            <div class="carddashed">
                                <!-- <div class="card-body"> -->

                                <div class="right-box-padding">
                                    <div class="read-content">

                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Problem Statement<span class="mandatory">*</span></label> <br>
                                                        <textarea class="textarea50" name="probstmt" id="probstmt" value="@Model.ProblemStatement" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center justify-content-center">There is no POKA YOKE for Rail placing in Heating Fixture, due to this rail can place wrong direction and it possible for Mold damage and it affect part qualitity.</p>' title="Problem Statement [Example]"></textarea>
                                                        <span id="probstmtError" class="text-danger error-message"></span>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Counter measure( Engineering solution)<span class="mandatory">*</span></label> <br>
                                                        <textarea class="textarea50" name="countmeasur" id="countmeasur" value="@Model.CounterMeasure" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center justify-content-center">Locating guide pin placed in fixture 3 places to avoid rail placing wrong orientation</p>' title="Counter measure [Example]"></textarea>
                                                        <span id="countmeasurError" class="text-danger error-message"></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        @* Endtable3 *@
                    </div>

                </div>

            </div>

            <!-- End Accordion Item 1 -->
            <!-- Accordion item 2 -- start -->

            <div>

                <input class="ac-input" id="ac-2" name="accordion-1" type="checkbox" checked />
                <label class="ac-label" for="ac-2">Kaizen Image Details<i></i></label>
                <div class="article ac-content">
                    <div class="col-lg-12">
                        <div class="carddashed mt-2">
                            <div class="card-body">
                                <div class="right-box-padding">
                                    <div class="read-content">

                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>BEFORE<span class="mandatory">*</span></label> <br>
                                                        <div class="inpfilelabel" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/before-img.jpg" height="170" />' title="BEFORE [Example]">
                                                            <input id="attach_file_before" type="file" name="files" style="display: none;" onchange="previewImage(event, 'uploaded_before_image')">
                                                            <label for="attach_file_before" class="file-drag">
                                                                <div class="row upload-interface">
                                                                    <div class="col-sm-12">
                                                                        <img id="file-image-before" src="~/assets/img/file-upload-icon.png" alt="Preview" class="hidden mb-2">
                                                                        <div class="attachtitle">Click here to attach files</div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                            <span class="uploaded_image" id="uploaded_before_image"></span>
                                                        </div>
                                                        <span class="responsemessage_img_before"></span>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>AFTER<span class="mandatory">*</span></label> <br>
                                                        <div class="inpfilelabel" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<img src="/assets/img/tooltip-imgs/after-img.jpg" height="170" />' title="AFTER [Example]">
                                                            <input id="attach_file_after" type="file" name="files_a" style="display: none;" onchange="previewImage(event, 'uploaded_after_image')">
                                                            <label for="attach_file_after" class="file-drag">
                                                                <div class="row upload-interface">
                                                                    <div class="col-sm-12">
                                                                        <img id="file-image-after" src="~/assets/img/file-upload-icon.png" alt="Preview" class="hidden mb-2">
                                                                        <div class="attachtitle">Click here to attach files</div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                            <span class="uploaded_image" id="uploaded_after_image"></span>
                                                        </div>
                                                        <span class="responsemessage_img_after"></span>
                                                    </div>
                                                </div>
                                            </div><!-- row -->

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @* //2nd *@
                    <div class="col-lg-12">
                        <div class="carddashed" id="carddash">
                            <div class="row mt-4" id="preview_area">
                                <div class="col-md-3 col-sm-4 ">
                                    <label class="mt-2">Add Additional Attachments</label> <br>
                                    <div class="inpfilelabel-attm mb-2 grayed-out" id="upload_area">
                                        <input id="additional_attachments" type="file" name="files" style="display: none;" multiple onchange="previewAdditionalImages(event)">
                                        <label for="additional_attachments" class="file-drag">
                                            <div class="upload-interface ">
                                                <img id="file-image-additional" src="~/assets/img/file-upload-icon.png" alt="Preview" class="hidden mb-2">
                                                <div class="attachtitle mt-2">Click here to attach files</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- accordion item 2 -- end -->

                </div>


            </div>

            <!-- End Accordion Section -->
            <!--startAccordin-3-->
            <div>
                <input class="ac-input" id="ac-3" name="accordion-1" type="checkbox" checked />
                <label class="ac-label" for="ac-3">Kaizen Member Details<i></i></label>
                <div class="article ac-content">
                    <div class="col-lg-12">
                        <div class="row">
                            @* <div class="col-sm-6"> *@
                            <div class="col-sm-12 col-lg-12">
                                <div class="carddashed mt-2">
                                    <div class="card-body">
                                        <div class="right-box-padding">
                                            <div class="read-content">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <span class="col-sm-12">SAVINGS </span>
                                                        <hr style="border-top: 1px solid grey; width: 100%;">
                                                        <div class="col-sm-4 mt-3">
                                                            <div class="form-group">
                                                                <label>Yield <span class="mandatory">*</span></label>
                                                                <input type="text" name="yield1" id="yield1" value="@Model.Yield" required class="form-control" value="" title="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 mt-3">
                                                            <div class="form-group">
                                                                <label>Cycle Time <span class="mandatory">*</span></label>
                                                                <input type="text" name="cycletime1" id="cycletime1" required class="form-control" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 mt-3">
                                                            <div class="form-group">
                                                                <label>Cost <span class="mandatory">*</span></label>
                                                                <input type="text" name="cost1" id="cost1" required class="form-control" value="" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">Rs 388186 / IM01 mold ( 13 IM1 molds for PP+BMB1 + BMB2)</p>' title="Cost [Example]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 2nd row -->
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Man power <span class="mandatory">*</span></label>
                                                                <input type="text" name="Man power" id="Manpower" required class="form-control" value="@Model.ManPower" value="" title="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Consumables <span class="mandatory">*</span></label>
                                                                <input type="text" name="Consumables" id="Consumables" value="@Model.Consumables" required class="form-control" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Others <span class="mandatory">*</span></label>
                                                                <input type="text" name="Others" id="Others" required class="form-control" value="@Model.Others" title="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end 2nd row -->
                                                    <!-- 3rd row -->
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Total Savings <span class="mandatory">*</span></label>
                                                                <input type="text" name="TotalSavings" id="TotalSavings" required class="form-control" value="@Model.TotalSavings" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">5046418</p>' title="Total Savings [Example]">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Approved by (IE) <span class="mandatory">*</span></label>
                                                                <input type="text" name="approvedbyIE" id="approvedbyIE" required class="form-control" value="@Model.IEEmail">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Approved by (Accounts)<span class="mandatory">*</span></label>
                                                                <input type="text" name="approvedbyAccount" id="approvedbyAccount" required class="form-control" value="@Model.AccountEmail">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end 3rd row -->
                                                    <!-- 4th row -->
                                                   @*  <div class="row">
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <label>Approved by (Accounts)<span class="mandatory">*</span></label>
                                                                <input type="text" name="approvedbyAccount" id="approvedbyAccount"  required class="form-control" value="@Model.AccountEmail">
                                                            </div>
                                                        </div>
                                                    </div> *@
                                                    <!-- end 4th row -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* 2ndsection *@

                            <div class="col-sm-12 col-lg-12">

                                <div class="carddashed mt-2">

                                    <div class="card-body">

                                        <div class="table-responsive">

                                            <table class="table table-bordered mb10" id="idAddteammember">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">EMP ID</th>
                                                        <th class="text-center">Team Member Name</th>
                                                        <th class="text-center">Function</th>
                                                        <th class="text-center">Action</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="border-0 text-left"><input type="text" class="form-control mx-0 " id="IdMemberAdd"></td>
                                                        <td class="border-0 text-left"><input type="text" class="form-control ml-1  " id="IdTeamMemberName"> </td>
                                                        <td class="border-0 text-left"><input type="text" class="form-control ml-2 " id="IdFunction"></td>
                                                        <td class=" border-0 px-0" style="width:150px">
                                                         
                                                            <button id="teamAddBtn" class="btn btn-azure ml-3 mb-3 px-4">
                                                                <img src="~/assets/img/mingcute--add-line.png" />
                                                            </button>
                                                           
                                                            <button id="teamDelBtn" class="btn btn-danger ml-2 mb-3">
                                                                <img src="~/assets/img/tabler--trash.png" />
                                                            </button>
                                                        </td> 
                                                    </tr>

                                                </tbody>

                                            </table>

                                            <div class="table-container">
                                            <table id="tblteammemberResult" class="col-lg-10" >
                                                <tbody>
                                                        <tr>
                                                        </tr>
                                                </tbody>


                                            </table>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            @* endsection *@
                        </div>
                    </div>
                    @* <col-12Ended> *@
                    @* step2start *@
                    <div class="col-lg-12">
                        <div class="carddashed mt-2">
                            <div class="card-body">
                                <div class="right-box-padding">
                                    <div class="read-content">

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Root Cause (Problem Phenomena)<span class="mandatory">*</span></label>
                                                        <br>
@*                                                         <label>Type:</label>
                                                        <input type="type" name="name" value="" class="form-control" placeholder="select" /> *@


                                                        <select class="form-select" id="multiple-select-field" @* value="@Model.RootCause" *@ data-placeholder="Select" multiple>
                                                            <option>5 Ways</option>
                                                            <option>Fishbone Diag</option>
                                                            <option>FMEA</option>
                                                            <option>Others</option>
                                                            <option>Pareto chart</option>
                                                            <option>Scatter Plot Diag</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Attachment</label>
                                                        <br>
                                                        <div class="inpfilelabel addattachfile mb-3" title="Attachment [Example]">
                                                            <input id="attach_file2" type="file" name="files" style="display: none;" onchange="previewImage(event, 'uploaded_attach2_image')">
                                                            <label for="attach_file2" class="file-drag">
                                                                <div class="row upload-interface">
                                                                    <div class="col-sm-12">
                                                                        <img id="file-image" src="~/assets/img/file-upload-icon.png" alt="Preview" class="hidden mb-2">
                                                                        <div class="attachtitle">Click here to attach files</div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                            <span class="uploaded_imagesmall" id="uploaded_attach2_image"></span>
                                                        </div>
                                                        <span class="responsemessage_img_attach"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Root Cause Explanation</label>
                                                        <br>
                                                        <textarea class="form-control" name="prob_stmt" data-toggle="popover" id="rootcauseDetails" value="@Model.RootCauseDetails" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">There is no POKA YOKE for Rail placing in Heating Fixture, due to this rail can place wrong direction and it possible for Mold damage and it affect part qualitity.</p>' title="Root Cause Explanation [Example]"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Brief explanation of present conditions<span class="mandatory">*</span></label>
                                                        <br>
                                                        <textarea class="textarea331" name="present_conditions" id="presentCondition" value="@Model.PresentCondition" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">There is no poka-yoke/ provision available in  Preheating Fixture.So, even if the rail orientation is changed during the placement by operator, it cant be easily noticed and potentially the rails would be placed in a mold with wrong orientation whci shall cause mold damage as well as defect part.</p>' title="Brief explanation [Example]"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Brief explanation of Improvements done<span class="mandatory">*</span></label>
                                                        <br>
                                                        <textarea class="textarea331" name="improvements_done" id="improvementsCompleted" value="@Model.ImprovementsCompleted" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">"This Poka Yoke improvement (stopper pin) is used to improve the rail locating guidance to avoid wrong direction placing.      Locator pin has been placed in fixture for bottom rail, left rail & right rail toavoid direction wrong loading and Mold damage as well as correction time saved.After implementing a poka yoke, operator cant able to place a rail in wrong orientation.
                                             This problem will be permanently eliminated.POKA YOKE Pin made in Inhouse with tool room mfg support."</p>' title="Brief explanation [Example]"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*
                    </div> *@



                    @* endpagedivs *@
                </div>
            </div>
            <!--EndAccordin-3-->
            <!--StartAccordin-4-->
            <div>

                <input class="ac-input" id="ac-4" name="accordion-2" type="checkbox" checked />
                <label class="ac-label" for="ac-4">
                    Kaizen Horizontal Deployment Details
                    <i></i>
                </label>
                <div class="article ac-content">
                    <form class="mt-2 pl-2">
                        <div class="control-group">
                            <label class="font-weight-bold">Horizontal Deployment</label>
                            <div class="controls">
                                <label class="radio inline">
                                    <input type="radio" name="horizontalDeployment" value="1" id="yesRadio" />
                                    Yes
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="horizontalDeployment" value="0" checked id="noRadio" />
                                    No
                                </label>
                            </div>
                        </div>
                    </form>
                    <div id="toggleContent" style="display: none;">
                    <div class="col-lg-12 col-sm-12"  >
                       
                        <div  class="row ">
                            <div class="col-lg-12"> 


                                <div class="carddashed mt-2">
                                    <div class="card-body">
                                        <div class="right-box-padding">
                                            <div class="read-content">
                                               
                                                <div class="card-body">

                                                    <div class="row">
                                                      
                                                        </div>

                                                    

                                                    <span class="targetGrayed">


                                                        
                                                        <div class="col-sm-12 mt-2">

                                                            <label for="">In Other Machines within the cell</label>

                                                            <input class="form-control" type="text">

                                                        </div>



                                                        <div class="col-sm-12 mt-2">

                                                            <label for="">Within the Department in all the machine groups</label>

                                                            <input class="form-control" type="text">

                                                        </div>



                                                        <div class="col-sm-12 mt-2">

                                                            <label for="">In Other Dept/ Other Location</label>

                                                            <input class="form-control" type="text">

                                                        </div>



                                                        <div class="col-sm-12 mt-2">

                                                            <label for="">Any other Relevant Points</label>

                                                            <input class="form-control" type="text">

                                                        </div>

                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                </div>
                            

                            @* 2ndsection *@

                            <div class="col-sm-12 col-lg-12">

                                <div class="carddashed mt-2">

                                    <div class="card-body targetGrayed">
                                        <label>
                                            Scope and Plan for Horizontal Deployment
                                        </label>

                                        <div class="table-responsive" id="table2">

                                            <table class="table table-bordered mb10" id="tblDeployment">

                                                <thead>

                                                    <tr>

                                                     
                                                        <th class="text-center">M/C</th>

                                                        <th class="text-center">Target Date</th>

                                                        <th class="text-center">Responsibility</th>

                                                        <th class="text-center">Status</th>

                                                        <th class="text-center">Action</th>

                                                    </tr>

                                                </thead>

                                                <tbody>

                                                    <tr>

                                                      
                                                        <td class="border-0 "><input type="text" class="form-control" id="txtMc"></td>

                                                        <td class="border-0"><input type="text" class="form-control" id="txtTargetDate"></td>

                                                        <td class="border-0 "><input type="text" class="form-control" id="txtResponsibility"></td>

                                                        <td class="border-0 "><input type="text" class="form-control" id="txtStatus"></td>

                                                     
                                                        <td class=" border-0 px-0" style="width:150px">
                                                          
                                                                <button id="btnAddDeployment" class="btn btn-azure ml-3 mb-3 px-4">
                                                                    <img src="~/assets/img/mingcute--add-line.png" />
                                                                </button>

                                                                <button id="btnDeleteDeployment" class="btn btn-danger ml-2 mb-3">
                                                                    <img src="~/assets/img/tabler--trash.png" />
                                                                </button>
                                                        </td>
                                                    </tr>

                                                </tbody>

                                            </table>
                                                <div class="table-container">
                                            <table id="tblDeploymentrResult" class="col-lg-12">
                                                <tbody>
                                                            <tr>
                                                            </tr>
                                                </tbody>
                                            </table>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            @* endsection *@


                        </div>
                    </div>
                    </div>

                </div>
            </div>

            <!--EndAccordin-4-->
            <!--StartAccordin-5-->
            <div>

                <input class="ac-input" id="ac-5" name="accordion-2" type="checkbox" checked />
                <label class="ac-label" for="ac-5">Kaizen Approver Details<i></i></label>
                <div class="article ac-content">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="carddashed mt-2">
                                    <div class="card-body">
                                        <div class="right-box-padding">
                                            <div class="read-content">
                                                <div class="form-group ">
                                                    <label>Benefits (P,Q,C,S,D,M,E)<span class="mandatory">*</span></label>
                                                    <textarea class="textarea331" name="present_conditions" id="benefit" value="@Model.BenefitArea" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content='<p class="mt-1 text-center">"Q - This poka yoke will make sure the rail orientation is always right.S -
                                                                 This will ensure and prevent mold or part damage and improves mold safety.M- It will increase MTTR & MTBF (as of now no data).
                                                               Since IM1 is citical for further downstream process, this will have direct impact of unplanned downtime (reduction) in downstream process till final assembly."</p>' title="Benefits [Example]"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="carddashed mt-2">
                                    <div class="card-body">
                                        <div class="right-box-padding">
                                            <div class="read-content">
                                                <div class="form-group ">
                                                    <table class="table table-bordered" style="height: 50vh;">

                                                        <thead>

                                                            <tr>

                                                                <th class="border-0"></th>

                                                                <th class="border-0">KAIZEN Originated By</th>

                                                                <th class="border-0">KAIZEN Approved By</th>
                                                                <th class="border-0">KAIZEN Confirmed By</th>


                                                            </tr>

                                                        </thead>

                                                        <tbody>

                                                            <tr>

                                                                <td class="text-center align-middle py-5">
                                                                    Name
                                                                </td>

                                                                <td class="align-middle align-items-center justify-content-center col-3">
                                                                    <input type="text" class="mx-auto form-control col-9" id="name" name="name" value="@Model.name">
                                                                    <input type="text" class="mx-auto form-control col-9" id="createdBy" name="createdBy" value="@Model.EmpId" hidden>
                                                                </td>
                                                                <td class="align-items-center d-flex justify-content-center h-100">
                                                                    <select name="" id="" class="form-control col-9">
                                                                        <option>321256 - Pankaj Singh</option>
 
                                                                    </select>
                                                                </td>
                                                                <td class="align-middle align-items-center justify-content-center col-3">
                                                                    <input type="text" class="mx-auto form-control col-4">
                                                                </td>


                                                            </tr>
                                                            <tr>

                                                                <td class="text-center align-middle py-5">
                                                                    Dept
                                                                </td>

                                                                <td class="align-middle align-items-center justify-content-center col-3">
                                                                    <input type="text" class="mx-auto form-control col-9" id="DomainId" name="DomainId" value="@Model.Domain - @Model.Department">
                                                                </td>
                                                                <td class="align-items-center d-flex justify-content-center h-100">
                                                                    <input name="DeptId" id="DeptId" class="form-control col-9" value="@Model.Domain - @Model.Department">
                                                                </td>
                                                                <td class="align-middle align-items-center justify-content-center col-3">
                                                                    <input type="text" class="mx-auto form-control col-4">
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td class="text-center align-middle py-5">
                                                                    Date
                                                                </td>

                                                                <td class="align-middle align-items-center justify-content-center col-3">
                                                                    <input class="mx-auto form-control col-9" id="CDeta" name="CDate" value="@Model.OriginatedDate" readonly>
                                                                </td>
                                                                <td class="align-items-center d-flex justify-content-center h-100">
                                                                    <input name="" type="date" id="" class="form-control col-9">
                                                                </td>
                                                                <td class="align-middle align-items-center justify-content-center col-3">
                                                                    <input type="text" class="mx-auto form-control col-4">
                                                                </td>

                                                            </tr>



                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> @* rowend *@
                    </div> @* col-12end *@

                    <div class="col-lg-12">
                        <div class="carddashed mt-2">
                            <div class="card-body">
                                <div class="right-box-padding">
                                    <div class="read-content">
                                        <div class="form-group ">
                                            <p>
                                                FORMAT/ Ver,No : TEPL-IE-C-FR-0005/01
                                                Tata Electronics Private Limited
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--EndAccordin-5-->

        </div>
        @* containerdivs *@
    </div>
</div>

<div class="col-sm-12 ">
    <div class="card-body float-right">
        <button class="btn btn-warning" id="btnSaveKaizen" >Save It</button>
        <button class="btn btn-azure" id="btnSubmitKaizen">Submit to DRI</button>
    </div>
</div>
<!-- Styles -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" crossorigin="anonymous" />
<!-- Or for RTL support -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" crossorigin="anonymous" />
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" crossorigin="anonymous"></script>
<script>
    document.getElementById('yesRadio').addEventListener('change', function () {
        document.getElementById('toggleContent').style.display = 'block';
    });

    document.getElementById('noRadio').addEventListener('change', function () {
        document.getElementById('toggleContent').style.display = 'none';
    });
    $('#multiple-select-field').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        closeOnSelect: false,
    });
    function toggleTableGrayedOut(grayOut) {
        if (grayOut) {
            $('.targetGrayed').addClass('grayed-out');
        } else {
            $('.targetGrayed').removeClass('grayed-out');
        }
    }

    toggleTableGrayedOut($('#N').is(':checked'));
    $('input[type="radio"][name="onnOff"]').change(function () {
        var isChecked = $(this).prop('id') === 'N';
        toggleTableGrayedOut(isChecked);
    });

    jQuery("#IdMemberAdd").blur(function () {
        var EmpId = $('#IdMemberAdd').val();
        $.ajax({
            type: 'POST',
            url: '/CreateKaizen/GetTeamMemberDetails',
            dataType: "json",
            data: {
              EmpId: EmpId
            },
            success: function (result) {
                debugger;
                $("#IdTeamMemberName").val(result.name);
                $("#IdFunction").val(result.domain);
               
            },
            error: function (error) {
                swal('Unable to Save the Department Details - Please Check the logs');
                // Handle errors (if needed)
                // console.error('Error:', error);
            }
        });
    });

    $("#cycletime1").change(function () {
        $("#approvedbyIE").removeAttr("disabled");
    });

    $("#cost1").change(function () {
        debugger;
        $("#approvedbyIE").removeAttr("disabled");
        var varlength = $("#cost1").val();

        if (varlength>=100000)
        {
            $("#approvedbyAccount").removeAttr("disabled");
        }

    });


    
    $("#teamAddBtn").click(function () {

        var mytable = document.getElementById("tblteammemberResult");
        var rows = mytable.rows.length;
        var r = mytable.insertRow(rows);
        
        var c1 = r.insertCell(0);
        var c2 = r.insertCell(1);
        var c3 = r.insertCell(2);
        var c4 = r.insertCell(3);
        

        var checkbox = document.createElement("input");
        var empId = document.createElement("input");
        var teamMemberName = document.createElement("input");
        var FunctionName = document.createElement("input");

        checkbox.type = "checkbox";
        empId.type = "text"; 
        empId.value = $("#IdMemberAdd").val();
        empId.className = "input-width";
        teamMemberName.type = "text";
        teamMemberName.value = $("#IdTeamMemberName").val();
        teamMemberName.className = "input-width";
        FunctionName.className = "input-width";
        FunctionName.type = "text";

        FunctionName.value = $("#IdFunction").val();
        FunctionName.className = "input-width";
        c1.appendChild(checkbox);      
        c2.appendChild(empId);
        c3.appendChild(teamMemberName);
        c4.appendChild(FunctionName);
        //value added for list start
        c2.value = $("#IdMemberAdd").val();
        c3.value = $("#IdTeamMemberName").val();
        c4.value = $("#IdFunction").val();
        //value added for list end
        c1.style.width = '5%';
        c2.style.width = '31%';
        c3.style.width = '32%';
        c4.style.width = '32%';
        $("#IdMemberAdd").val("");
        $("#IdTeamMemberName").val("");
        $("#IdFunction").val("");

    });

    $("#teamDelBtn").click(function () {

        var mytable = document.getElementById("tblteammemberResult");
        var rows = mytable.rows.length;
        for (var i = rows - 1; i > 0; i--) {
            if (mytable.rows[i].cells[0].children[0].checked) {
                mytable.deleteRow(i);
            }
        }
    });
   
    $("#btnAddDeployment").click(function () {
        
        var mytable = document.getElementById("tblDeploymentrResult");
        var rows = mytable.rows.length;
        var r = mytable.insertRow(rows);
        var Ad1= r.insertCell(0);
        var Ad2 = r.insertCell(1);
        var Ad3 = r.insertCell(2);
        var Ad4 = r.insertCell(3);
        var Ad5 = r.insertCell(4);
        


        var checkbox = document.createElement("input");
        var Sno = document.createElement("input");
        var mc = document.createElement("input");
        var targetDate = document.createElement("input");
        var responsibility = document.createElement("input");
        var status = document.createElement("input");


        checkbox.type = "checkbox";
        Sno.type = "text";
        Sno.value = $("#txtNo").val();
        Sno.className = "input-width";
        mc.type = "text";
        mc.value = $("#txtMc").val();
        mc.className = "input-width";
        targetDate.type = "text";
        targetDate.value = $("#txtTargetDate").val();
        targetDate.className = "input-width";
        responsibility.type = "text";
        responsibility.value = $("#txtResponsibility").val();
        responsibility.className = "input-width";
        status.type = "text";
        status.value = $("#txtStatus").val();
        status.className = "input-width";

        Ad1.appendChild(checkbox);
       
        Ad2.appendChild(mc);
        Ad3.appendChild(targetDate);
        Ad4.appendChild(responsibility);
        Ad5.appendChild(status);

        Ad2.value = $("#txtMc").val();
        Ad3.value = $("#txtTargetDate").val();
        Ad4.value = $("#txtResponsibility").val();
        Ad5.value = $("#txtStatus").val();

        Ad2.className = 'col-cd-2';
        Ad3.className = 'col-cd-4';
        Ad4.className = 'col-cd-3';
        Ad5.className = 'col-cd-3';
      
        $("#txtMc").val("");
        $("#txtTargetDate").val("");
        $("#txtResponsibility").val("");
        $("#txtStatus").val("");
    });

    $("#btnDeleteDeployment").click(function () {

        var mytable = document.getElementById("tblDeploymentrResult");
        var rows = mytable.rows.length;
        for (var i = rows - 1; i > 0; i--) {
            if (mytable.rows[i].cells[0].children[0].checked) {
                mytable.deleteRow(i);
            }
        }
    });

    function ValidateForm() {
        var isValid = true;
        // Remove red borders and error messages
        $("#BlockName").css("border-color", "red");
        $("#Blockerror").text("");
        $(".error-message").text("");

        $("#ktheme").css("border-color", "red");
        $("#themeError").text("");
        $(".error-message").text("");

        $("#teplplant").css("border-color", "red");
        $("#teplplantError").text("");
        $(".error-message").text("");

        $("#suggestedKaizen").css("border-color", "red");
        $("#suggestedKaizenError").text("");
        $(".error-message").text("");

        $("#probstmt").css("border-color", "red");
        $("#probstmtError").text("");
        $(".error-message").text("");

        
        $("#countmeasur").css("border-color", "red");
        $("#countmeasurError").text("");
        $(".error-message").text("");


        
        // Check for empty or invalid fields
        var blockNameValue = $("#BlockName").val();
        var themeName = $("#ktheme").val();
        var plantName = $("#teplplant").val();
        var suggestedKaizenName = $("#suggestedKaizen").val();
        var problemName = $("#probstmt").val();
        var counterMeasuremName = $("#countmeasur").val();
        var docNo = $("#docNo").val();
        var versionNo = $("#versionNo").val();
        var codeCentre = $("#codeCentre").val();
        var refNo = $("#refNo").val();
        var Yield = $("#yield1").val();
        var CycleTime = $("#cycletime1").val();
        var Cost = $("#cost1").val();
        if (blockNameValue === "--Select--") {
            debugger;
            $("#BlockName").css("border-color", "red");
            $("#BlockError").text("Please Select Domain");
            isValid = false;
        }

        if (themeName === "") {
            debugger;
            $("#ktheme").css("border-color", "red");
            $("#themeError").text("Theme Name is required.");
            isValid = false;
        }
        if (plantName === "") {
            debugger;
            $("#teplplant").css("border-color", "red");
            $("#plantError").text("Block/Line/Machine/Others [Example] is required.");
            isValid = false;
        }

        if (suggestedKaizenName === "") {
            debugger;
            $("#suggestedKaizen").css("border-color", "red");
            $("#suggestedKaizenError").text("Theme Sggested Kaizen Name is required.");
            isValid = false;
        }

        if (problemName === "") {
            debugger;
            $("#probstmt").css("border-color", "red");
            $("#probstmtError").text("Theme Problem Statement  is required.");
            isValid = false;
        }
        if (counterMeasuremName === "") {
            debugger;
            $("#countmeasur").css("border-color", "red");
            $("#countmeasurError").text("Theme Counter Measure  is required.");
            isValid = false;
        }
        return isValid;
    }
    $(document).ready(function () {
  


        // Initialize all popovers
        $('[data-toggle="popover"]').popover();
        $("#approvedbyIE").attr("disabled", "disabled");
        $("#approvedbyAccount").attr("disabled", "disabled");
        $("#btnSaveKaizen").click(function () {
            debugger;
            var checkboxData = {};
            var checkboxData1 = {};
            var activityValue;
            var benifitarea;
            var Rootcausedata;

            $('#checkboxform input[type=checkbox]:checked').each(function () {
                if (!checkboxData[this.name]) {
                    checkboxData[this.name] = [];
                }
                checkboxData[this.name].push(this.value);
                activityValue=checkboxData[""].join(',');
            });
            $('#checkboxform1 input[type=checkbox]:checked').each(function () {
                if (!checkboxData1[this.name]) {
                    checkboxData1[this.name] = [];
                }
                checkboxData1[this.name].push(this.value);
                benifitarea = checkboxData1[""].join(',');
            });
           
            
                var selectData1 = { "selected": [] };
                $('#multiple-select-field option:selected').each(function () {
                    selectData1["selected"].push($(this).val());
                Rootcausedata = selectData1["selected"].join(',');
                });

            var addedTeamMembers = new Array();
            var addedDeployment = new Array();
            $('#tblteammemberResult tbody tr').each(function () {
                var row = $(this);
                var memberDetails = {};
                memberDetails.EmpId = row.find("TD").eq(1).val();
                memberDetails.TeamMemberName = row.find("TD").eq(2).val();
                memberDetails.FunctionName = row.find("TD").eq(3).val();
                memberDetails.createdBy = $("#createdBy").val();
                memberDetails.CreatedDate = $("#CDeta").val();
               
                addedTeamMembers.push(memberDetails);
            });

            $('#tblDeploymentrResult tbody tr').each(function () {
                var row = $(this);
                var deploymentDetails = {};
                deploymentDetails.MC = row.find("TD").eq(1).val();
                deploymentDetails.TargetDate = row.find("TD").eq(2).val();
                deploymentDetails.Responsibility = row.find("TD").eq(3).val();
                deploymentDetails.ScopeStatus = row.find("TD").eq(4).val();
                deploymentDetails.createdBy = $("#createdBy").val();
                deploymentDetails.CreatedDate = $("#CDeta").val();
                addedDeployment.push(deploymentDetails);
            });



          
            var kaizenModel = {
                // var blockName = $('#BlockName').val();
                Block: $('#BlockName').val(),
                BlockDetails: $('#BlockName option:selected').text(),
                Activity: activityValue,
                BenefitArea: benifitarea,
                ActivityDesc: $('#activityDesc').val(),
                KaizenTheme: $('#ktheme').val(),
                plantName: $('#teplplant').val(),
                SuggestedKaizen: $('#teplplant').val(),
                ProblemStatement: $('#probstmt').val(),
                CounterMeasure: $('#countmeasur').val(),
                DocNo : $("#docNo").val(),
                VersionNoDate: $("#versionNo").val(),
                CostCentre: $("#codeCentre").val(),
                KaizenRefNo : $("#refNo").val(),
                Yield: $("#yield1").val(),
                CycleTime: $("#cycletime1").val(),
                Cost: $("#cost1").val(),
                ManPower: $("#Manpower").val(),
                Consumables: $("#Consumables").val(),
                Others: $("#Others").val(),
                TotalSavings: $("#TotalSavings").val(),
                ApprovedByIE: $("#approvedbyIE").val(),
                FinanceApprovedBy: $("#approvedbyAccount").val(),
                // RootCause: $("#multiple-select-field").val(),
                Rootcause: Rootcausedata,
                MemberList: addedTeamMembers,
                DeploymentList: addedDeployment,
                RootCauseDetails: $("#rootcauseDetails").val(),
                PresentCondition: $("#presentCondition").val(),
                ImprovementsCompleted: $("#improvementsCompleted").val(),
                HorozantalDeployment: $('input[name="horizontalDeployment"]:checked').val(),
                Benifits: $("#benefit").val(),
                OriginatedBy: $("#name").val(),
                Domain: $("#DomainId").val(),
                Department: $("#DeptId").val(),
                CreatedDate: $("#CDeta").val() 
            }
            if (!ValidateForm()) {
                // If validation fails, return or perform any other necessary actions
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/CreateKaizen/NewKaizen',
                dataType: "json",
                data: { model: kaizenModel },
                success: function (result) {
                    // Handle success (if needed)
                   
                    if (result==true) {
                        swal({
                            text: "Kaizen Added successfully !!",
                            type: "success"
                        }).then(okay => {

                        });
                    }
                    else {
                        swal('Unable to Save the Kaizen Details - Please Check the logs');
                    }
                },
                error: function (error) {
                    swal('Unable to Save the Kaizen Details - Please Check the logs');
                    // Handle errors (if needed)
                    // console.error('Error:', error);
                }
            });
        });

    });



</script>

 <script>
    function previewImage(event, targetId) {
        var uploadedImageContainer = $('#' + targetId);
        uploadedImageContainer.empty();

        var file = event.target.files[0];
        var fileName = file.name;
        var isValid = validate_fileupload(fileName);
        if (!isValid) {
            console.log('Invalid file type');
            return;
        }

        var imgElement = $('<img>', {
            src: URL.createObjectURL(event.target.files[0]),
            alt: 'Uploaded Image'
        });

        var deleteButton = $('<div>', {
            class: 'delete-btn',
            text: 'Delete',
            click: function () {
                swal({
                    text: "Are you sure you want to Delete?",
                    buttons: {
                        confirm: "Yes",
                        cancel: "No"
                    }
                }).then((userConfirmation) => {
                    if (userConfirmation) {
                        uploadedImageContainer.empty();
                        $('#' + event.target.id).val(''); 
                        $('#' + targetId).closest('.inpfilelabel').find('.upload-interface').show();
                        $('#' + targetId).closest('.inpfilelabel').css('padding', '30px');
                        $('#' + targetId).closest('.inpfilelabel').css('border', '1px dashed #797A89');
                        $('#upload_area').addClass('grayed-out');
                        img.parentElement.remove();

                    }
                });
            }
        });

        deleteButton.css({
            'margin-left': '10px',
            'margin-top': '5px' 
        });

        uploadedImageContainer.append(imgElement, deleteButton);
        if ($('#attach_file_before').get(0).files.length > 0 && $('#attach_file_after').get(0).files.length > 0) {
            $('#upload_area').removeClass('grayed-out');
        }
        else {
            $('#upload_area').addClass('grayed-out');
        }
        

        if (event.target.files.length > 0) {
            $('#' + targetId).closest('.inpfilelabel').find('.upload-interface').hide();
            $('#' + targetId).closest('.inpfilelabel').css('padding', '4px');
            $('#' + targetId).closest('.delete-btn').css('padding', '2px 5px');
            $('#' + targetId).closest('.inpfilelabel').css('border', 'none');



        }
    }
    function validate_fileupload(fileName) {
        var allowed_extensions = new Array("jpg", "png", "gif");
        var file_extension = fileName.split('.').pop().toLowerCase();

        for (var i = 0; i < allowed_extensions.length; i++) {
            if (allowed_extensions[i] == file_extension) {
                return true; // valid file extension
            }
        }
        swal("Invalid file type" + fileName);
        return false;
    }
//mutli files

     function previewAdditionalImages(event) {
        var files = event.target.files;
        var output = document.getElementById('preview_area');
        var uploadArea = document.getElementById('upload_area');
        var allowed_extensions = new Set(["jpg", "jpeg", "png", "gif"]);

        for (var i = 0; i < files.length; i++) {
            var fileName = files[i].name;
            var file_extension = fileName.split('.').pop().toLowerCase();

            if (!allowed_extensions.has(file_extension)) {
                swal("Invalid file type: " + fileName);
                continue;
            }

            var reader = new FileReader();
            reader.onload = function (event) {
                var img = document.createElement("img");
                img.src = event.target.result;
                img.className = "uploadImageSmall";

                var deleteBtn = document.createElement("span");
                    deleteBtn.className = "delete-btn delbutt";
                    deleteBtn.textContent = "Delete";
                    deleteBtn.onclick = function () {
                     swal({
                          text: "Are you sure you want to Delete?",
                           buttons: {
                               confirm: "Yes",
                               cancel: "No"
                                    }
                      }).then((userConfirmation) => {
                              if (userConfirmation) {
                            deleteBtn.parentElement.parentElement.remove();
                              }
                              });
                    };

                var div = document.createElement("div");
                div.className = "col-md-3 col-sm-4 ";
                div.innerHTML = `<div class="inpfilelabel-attm mt-2 mb-2 p-2">${img.outerHTML}</div>`;
                div.querySelector('.inpfilelabel-attm').appendChild(deleteBtn);
               
                output.insertBefore(div, uploadArea.parentElement);
            };

            reader.readAsDataURL(files[i]);
        }
    }    
</script>