@model IEnumerable<Kaizen.Models.AdminModel.BlockModel>

@{
    Layout = "SidebarLayout";
}
<link href="~/assets/css/custom/addblock.css" rel="stylesheet" />
<link href="~/assets/css/common/datatables.min.css" rel="stylesheet" />
<script src="~/assets/js/custom/datatables.min.js"></script>

<div class="container-fluid">
    <div class="container-fluid rounded bg-white p-2 mt-2 mb-2">
        <div class="col-lg-12 p-md-0 p-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white" style="border-radius: 0.25rem;">
                    <li class="breadcrumb-item" style="font-weight: bold; color: #007bff; font-size: 16px;">Masters</li>
                    <li class="breadcrumb-item active" aria-current="page" style="font-weight: bold; color: #495057; font-size: 15px;">Blocks</li>
                </ol>
            </nav>
        </div>
    </div>

            <div class="card p-3 mt-2 mb-2 cardsize">
        <div class="col-md-10">
            <div><label class="card-title" id="blkh">Add Block</label></div>
        </div>
                <div class="row">
          
                        <div class="col-md-4">
                        <label>Block Name</strong><span class="mandatory">*</span></label>
                        <input class="form-control" id="BlockName" name="BlockName" />
                        <label id="BlockId" hidden></label>
                        <span id="BlockError" class="error-message"></span>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-azure" id="btnAdd">Add</button>
                <button class="btn btn-azure" id="btnupdate" onclick="">Update</button>
                    </div>
                </div>
        

            </div>
        
    <div class="card p-3 mt-2 mb-2 cardsize">

        <div class="col-md-10">
            <div><label class="card-title" id="blktotal">Block List - @Model.Count()</label></div>
        </div>
        
            <div class="card-body">
                <table id="tblblock" class="table table-striped" style="width:100%!important">
                    <thead>
                        <tr>
                            <th class="text-center" hidden>ID</th>
                            <th class="text-center">Block Name</th>
                            <th class="text-center" id="BlockName">TOTAL EMP</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr data-id="@item.Id" data-name="@item.BlockName">
                                <td hidden>@item.Id</td>
                                <td>@item.BlockName</td>
                            <td class="text-center" data-block-id="@item.Id">
                                <a class="user-count" style="cursor: pointer;">@item.User_count</a>
                            </td>
                                 <td class="text-center">
                                @if(@item.Status == false)
                                {
                                        <a href="/Admin/UpdateBlockStatus?id=@item.Id &status= true"><span class="btn btn-warning">Inactive</span></a>

                                }
                                 @if(@item.Status== true)
                                {

                                        <a href="/Admin/UpdateBlockStatus?id=@item.Id &status= false"><span class="btn btn-success">Active</span></a>
                                    
                                }
                                </td>


                             
                                <td class="text-center">
                                   @*  <a href="/Admin/DeleteBlock?id=@item.Id" class="btn btn-danger icon deleteuser"><i class="fa-solid fa-trash-can"></i></a> *@
                                <a id="editblock" class="btn btn-primary btn-sm editblock" data-empid="@item.Id">
                                    <i class="edit fas fa-solid fa-pencil"></i>
                                </a>
                                 <a class="btn btn-danger icon deleteuser" onclick="Deleteblock(@item.Id);"><i class="fa-solid fa-trash-can"></i></a>
                            </td>

                            </tr>
                        }
                    </tbody>
            </table>
            </div>
    </div>
</div>

<script>
     $(document).ready(function () {
        @if (TempData["SwalMessage"] != null)
        {
            <text>
                swal({
                    text: '@TempData["SwalMessage"]',
                    button: 'OK'
                });
            </text>
        }
    });


    $(document).ready(function () {
        $('#tblblock').DataTable({});
        $('#btnupdate').hide();

    });

    function ValidateForm() {
        var isValid = true;
        $("#BlockName").on("input", function () {
            var blockNameValue = $(this).val();
            if (blockNameValue !== "") {
                $(this).css("border-color", "");
                $("#BlockError").text("");
            }
        });

        // Remove red borders and error messages
    //    $("#BlockName").css("border-color", "red");

        $("#Blockerror").text("");
        $(".error-message").text("");

        // Check for empty or invalid fields
        var blockNameValue = $("#BlockName").val();

        if (blockNameValue.trim() === "") {
            $("#BlockName").css("border-color", "red");
            $("#BlockError").text("Block Name is required.");
            isValid = false;
        }
        return isValid;
    }

    $(document).ready(function () {
        $("#btnAdd").click(function () {

            var blockModel = { 
                BlockName: $('#BlockName').val()
            }

            if (!ValidateForm()) {
                // If validation fails, return or perform any other necessary actions
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/Admin/AddBlock',
                dataType: "json",
                data: { BlockModel : blockModel },
                success: function (result) {
                    // Handle success (if needed)
                    var redirectErrorUrl = "/Login/ErrorPage";
                        if (result == true) {
                        swal({
                            text: "Block Saved successfully !!",
                            type: "success"
                        }).then(okay => {
                            location.reload();
                        });
                    }
                    else {
                        swal('Unable to Save the Block Details - Please Check the logs');
                        window.location.href = redirectErrorUrl;


                    }
                },
                error: function (error) {
                    swal('Unable to Save the Block Details - Please Check the logs');
                    window.location.href = redirectErrorUrl;

                }
            });
        });
        $('tbody').on('click', '.editblock', function (e) {
            e.preventDefault();
            $('#btnAdd').hide();
            $('#btnupdate').show();
            $('#BlockName').focus();
          
            var $row = $(this).closest('tr');
            var blockid = $row.data('id');
            var blockname = $row.data('name');
            document.getElementById("BlockName").value = blockname;
            document.getElementById("BlockId").value = blockid;
        });
    })
       $("#btnupdate").click(function () {
           
          var domainmodel = {
            BlockName: $('#BlockName').val(),
            Id: $('#BlockId').val()
        }; 
            if (!ValidateForm()) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/Admin/UpdateBlock',
                dataType: "json",
            data:  domainmodel ,
                success: function (result) {
                    // Handle success (if needed)
                var redirectErrorUrl = "/Login/ErrorPage";

                if (result == true) {
                    swal({
                        text: "Block Updated successfully !!",
                        type: "success"
                    }).then(okay => {
                        location.reload();
                    });
                }
                else {
                    swal('Unable to Update the Block Details - Please Check the logs');
                    window.location.href = redirectErrorUrl;
                }
                },
                error: function (error) {
                    swal('Unable to Update the Block Details - Please Check the logs');
                window.location.href = redirectErrorUrl;
                    // Handle errors (if needed)
                    // console.error('Error:', error);
                }
            });
        });

    function Deleteblock(id) {
        swal({
            text: "Are you sure you want to Delete the Block?",
            buttons: {
                confirm: "Yes",
                cancel: "No",
            },
        }).then((userConfirmation) => {
            if (userConfirmation) {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/DeleteBlock',
                    dataType: "json",
                    data: { id: id },
                    success: function (result) {
                        var redirectErrorUrl = "/Login/ErrorPage";
                        if (result === true) {
                            swal({
                                text: "Block Deleted successfully."
                            }).then(okay => {
                                if (okay) {
                                    location.reload(); 
                                }
                            });
                        } else if (result === false) {
                            swal({
                                text: "Active Block cannot be Deleted."
                            }).then(okay => {
                                if (okay) {
                                    location.reload(); 
                                }
                            });
                        } else {
                            swal({
                                text: 'Unable to Delete the Block Details - Please Check the logs'
                            }).then(okay => {
                                if (okay) {
                                    window.location.href = redirectErrorUrl; 
                                }
                            });
                        }
                    },
                    error: function () {
                        swal({
                            text: 'Unable to Delete the Block Details - Please Check the logs'
                        }).then(okay => {
                            if (okay) {
                                window.location.href = redirectErrorUrl; 
                            }
                        });
                    }
                });
            }
        });
    }


    $(document).ready(function () {
        $('.text-center').on('click', function () {
            var blockId = $(this).data('block-id');
            if (blockId) {
                window.location.href = '@Url.Action("ViewUserByBlockID", "ViewUser")' + '?blockId=' + blockId;
            }
        });


    });
</script>
