@model Kaizen.Models.AdminModel.DepartmentModel
@{
    Layout = "SidebarLayout";
}
<link href="~/assets/css/common/datatables.min.css" rel="stylesheet" />
<link href="~/assets/css/custom/adddepartment.css" rel="stylesheet" />

<script src="~/assets/js/custom/datatables.min.js"></script>
<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            <div class="cb mine card p-3 mt-2 mb-2">
                <div class="row">
                    <div class=" col-md-6">
                        <label for="DomainName">Domain Name</label>
                        <select id="domainName" class="form-control txt-width">
                            <option selected>--Select--</option>
                            @foreach (var domain in Model.DomainList)
                            {
                                <option value="@domain.Id">@domain.DomainName</option>
                            }
                        </select>
                        <span id="DomError" class="text-danger error-message"></span>
                    </div>
                    <div class=" col-md-4">

                        <label for="DepartmentName">Department Name</label>
                        <input id="departmentName" class="form-control dep-name" />
                        <span id="DepError" class="text-danger error-message"></span>
                    </div>
                    <div class=" col-md-2">
                        <br />
                        <input class="btn btn-azure" id="btnAdd" value="Add" type="button" />
                    </div>
                </div>
                <div class="mt-5">
                    <p><b>Department Names - @ViewBag.DepartmentList.Count</b></p>
                    <div class="col-12">
                        <hr />
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table id="employeeTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th hidden scope="col" class="text-center" id="DomName">ID</th>
                                    <th scope="col" class="text-center" id="DomName">DOMAIN NAME</th>
                                    <th scope="col" class="text-center" id="DomName">DEPARTMENT NAME</th>
                                    <th scope="col" class="text-center" id="DomName">TOTAL EMP</th>
                                    <th scope="col" class="text-center" id="DomName">STATUS</th>
                                    <th scope="col" class="text-center" id="DomName">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.DepartmentList)
                                {
                                    <tr>
                                        <td hidden>@item.DeptId</td>
                                        <td>@item.DomainName</td>
                                        <td>@item.DepartmentName</td>
                                        <td>0</td>
                                        <td class="text-center">
                                            @if (@item.Status == false)
                                            {
                                                <a href="/Admin/UpdateDepartmentStatus?id=@item.DeptId &status= true"><span class="btn btn-warning">Inactive</span></a>
                                            }
                                            @if (@item.Status == true)
                                            {
                                                <a href="/Admin/UpdateDepartmentStatus?id=@item.DeptId &status= false"><span class="btn btn-success">Active</span></a>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a href="/Admin/DeleteDepartment?id=@item.DeptId" class="btn btn-danger icon deleteuser"><i class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#employeeTable').DataTable({});
        });
        function ValidateForm() {
            var isValid = true;
            $("#departmentName").css("border-color", "red");
            $("#DepError").text("");
            $("#domainName").css("border-color", "red");
            $("#DomError").text("");
            $(".error-message").text("");
            // Check for empty or invalid fields
            var departmentNameValue = $("#departmentName").val();
            var domainnamevalue = $("#domainName").val();
            if (departmentNameValue === "") {
                $("#departmentName").css("border-color", "red");
                $("#DepError").text("Department Name is required.");
                isValid = false;
            }
            if (domainnamevalue === "--Select--") {
                $("#domainName").css("border-color", "red");
                $("#DomError").text("Please Select Domain");
                isValid = false;
            }
            if (!isValid) {
                $("#error-message").text("Please fill in the required field correctly.");
                // Add red border to the submit button
                $("#submitButton").css("border-color", "red");
            }
            return isValid;
        }

        function addDepartment() {
            var departmentName = $('#departmentName').val();
            var domainId = $('#domainName').val();
            var domainName = $('#domainName option:selected').text();
            if (!ValidateForm()) {
                // If validation fails, return or perform any other necessary actions
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/Admin/AddDepartment',
                dataType: "json",
                data: {
                    DepartmentName: departmentName,
                    DomainName: domainName,
                    DomainId: domainId
                },
                success: function (result) {
                    var res = $.isEmptyObject(result);

                    if (res) {
                        swal('Unable to Save the Department Details - Please Check the logs');
                    }
                    else {
                        swal({
                            text: "Department saved successfully !!",
                            type: "success"
                        }).then(okay => {
                            if (okay) {
                                location.reload();
                            }
                        });
                    }

                },
                error: function (error) {
                    swal('Unable to Save the Department Details - Please Check the logs');
                    // Handle errors (if needed)
                    // console.error('Error:', error);
                }
            });
        }
        $(document).ready(function () {
            $(".btn-azure").click(function () {
                addDepartment();
            });

        });


        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.badge-sm').forEach(function (element) {
                element.addEventListener('click', function () {
                    toggleStatus(element);
                });
            });
        });
    </script>

</div>