@{
    var selectedTheme = ViewBag.SelectedTheme;
}

@model Kaizen.Models.AdminModel.LoginModel
@{
    Layout = "Empty";
}
<link href="~/assets/css/custom/loginpage.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "userForm" }))
{
    @Html.AntiForgeryToken()
    <div class="fullscreen">
    <div class="row" style="margin-bottom:0px">
        <div class="col-lg-12 topbar">
            <marquee width="100%" class="" direction="left" behavior="scroll" scrollamount="5">
                <h1 class="" style="color:white; font-size: x-large;margin:-1px;" loginbox-title>
                    Kaizen Winner for this month is
                    <span style="color: rgb(45, 195, 232); font-weight:bold; font-size: x-large;">
                        @selectedTheme
                    </span>.
                    Congratulations Team!
                </h1>
            </marquee>
        </div>
    </div>
        <div class="row fullscreen ">
       
        <div class="col-lg-4">
            <div class="login-container animated fadeIn">
               @*  <div class="logobox btn-azure padding-top-20 padding-bottom-20 mr-5" style="color:white;text-align: center;font-size:xx-large;">
                    Kaizen Application
            </div> *@
               
                <div class="loginbox bg-white">
                    <img src="~/assets/img/tepl kaizen image.png" class="login-image" alt="Kaizen Image" />
                    <div class="loginbox-title">Sign in to your account</div>
                    <div class="loginbox-or">
                        <div class="or-line"></div>
                    </div>

                    <div class="loginbox-textbox">
                      
                            <div class="form-group" style="width: 100%;">
                                @Html.LabelFor(model => model.EmpId, "Emp ID", htmlAttributes: new { @class = "control-label" })
                                <span class="text-danger">*</span>
                                <div style="width: 100%;">
                                    @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Employee Id", id = "EmpId", style = "width: 100%;" } })
                                    @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                       
                    </div>

                    <div class="loginbox-textbox">
                       
                            <div class="form-group" style="width: 100%;">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                <span class="text-danger">*</span>
                                <div class="editor-container" style="width: 100%;">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter your password", id = "Password", style = "width: 100%;" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger validation-message" })
                                </div>
                            </div>

                    </div>

                    <div class="loginbox-submit">
                        <input type="submit" class="btn btn-block btn-azure" value="Sign in here" />
                    </div>
                    <div class="loginbox-links" style="margin-top: 20px;">
                        <div class="col" style="display: flex; justify-content: space-between; padding: 0 9%;">
                            <a href="/Register/Index" class="">Register New User</a>
                            <a href="/Login/Forgot">Forgot password</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-grow-1"></div>
        </div>
            <div class="col-sm-8  backgroundimg " style="margin-bottom:0px;">
            <div class="card" style="margin:0;">
                <!-- Gold Row -->
                <div class="row gold">
                    <div class="vertical-text">Gold</div>
                    <div class="image-box">
                        <img id="gimg1" src="~/assets/img/profile.png" />
                        <p id="Gname1"></p>
                    </div>
                    <div class="image-box">
                        <img id="gimg2" src="~/assets/img/profile.png" />
                        <p id="Gname2"></p>
                    </div>
                    <div class="image-box">
                        <img id="gimg3" src="~/assets/img/profile.png" />
                        <p id="Gname3"></p>
                    </div>
                    <div class="image-box">
                        <img id="gimg4" src="~/assets/img/profile.png" />
                        <p id="Gname4"></p>
                    </div>
                    <div class="image-box">
                        <img id="gimg5" src="~/assets/img/profile.png" />
                        <p id="Gname5"></p>
                    </div>
                    <div class="image-box">
                        <img id="gimg6" src="~/assets/img/profile.png" />
                        <p id="Gname6"></p>
                    </div>
                </div>

                <!-- Silver Row -->
                <div class="row silver">
                    <div class="vertical-text">Silver</div>
                    <div class="image-box">
                        <img id="simg1" src="~/assets/img/profile.png" />
                        <p id="Sname1"></p>
                    </div>
                    <div class="image-box">
                        <img id="simg2" src="~/assets/img/profile.png" />
                        <p id="Sname2"></p>
                    </div>
                    <div class="image-box">
                        <img id="simg3" src="~/assets/img/profile.png" />
                        <p id="Sname3"></p>
                    </div>
                    <div class="image-box">
                        <img id="simg4" src="~/assets/img/profile.png" />
                        <p id="Sname4"></p>
                    </div>
                    <div class="image-box">
                        <img id="simg5" src="~/assets/img/profile.png" />
                        <p id="Sname5"></p>
                    </div>
                    <div class="image-box">
                        <img id="simg6" src="~/assets/img/profile.png" />
                        <p id="Sname6"></p>
                    </div>
                </div>

                <!-- Bronze Row -->
                <div class="row bronze"style="margin-bottom:0px">
                    <div class="vertical-text bronze">Bronze</div>
                    <div class="image-box">
                        <img id="bimg1" src="~/assets/img/profile.png" />
                        <p id="Bname1"></p>
                    </div>
                    <div class="image-box">
                        <img id="bimg2" src="~/assets/img/profile.png" />
                        <p id="Bname2"></p>
                    </div>
                    <div class="image-box">
                        <img id="bimg3" src="~/assets/img/profile.png" />
                        <p id="Bname3"></p>
                    </div>
                    <div class="image-box">
                        <img id="bimg4" src="~/assets/img/profile.png" />
                        <p id="Bname4"></p>
                    </div>
                    <div class="image-box">
                        <img id="bimg5" src="~/assets/img/profile.png" />
                        <p id="Bname5"></p>
                    </div>
                    <div class="image-box">
                        <img id="bimg6" src="~/assets/img/profile.png" />
                        <p id="Bname6"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    @if (TempData["loginmsg"] != null)
    {
        <script>
            swal('@TempData["loginmsg"]')
        </script>
    }
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

<script>
    $(window).on('load', function () {
        $.ajax({
            type: "POST",
            url: "/Login/loginImage",
            success: function (response) {
                // Assuming response contains arrays for goldList, silverList, and bronzeList
                let goldList = response.goldList;
                let silverList = response.silverList;
                let bronzeList = response.bronzeList;

                // Update Gold Section
                for (let i = 0; i < goldList.length; i++) {
                    let goldItem = goldList[i];
                    $("#Gname" + (i + 1)).text(goldItem.firstName);
                    if (goldItem.winnerimage) {
                        $("#gimg" + (i + 1)).attr("src", "data:image/jpeg;base64," + goldItem.winnerimage);
                    }
                }

                // Update Silver Section
                for (let i = 0; i < silverList.length; i++) {
                    let silverItem = silverList[i];
                    $("#Sname" + (i + 1)).text(silverItem.firstName);
                    if (silverItem.winnerimage) {
                        $("#simg" + (i + 1)).attr("src", "data:image/jpeg;base64," + silverItem.winnerimage);
                    }
                }

                // Update Bronze Section
                for (let i = 0; i < bronzeList.length; i++) {
                    let bronzeItem = bronzeList[i];
                    $("#Bname" + (i + 1)).text(bronzeItem.firstName);
                    if (bronzeItem.winnerimage) {
                        $("#bimg" + (i + 1)).attr("src", "data:image/jpeg;base64," + bronzeItem.winnerimage);
                    }
                }
            },
            error: function (xhr, status, error) {
                console.error("An error occurred: " + status + " - " + error);
            }
        });
    });


 
        $("#EmpId, #Password").on('keyup', function () {
            $(this).valid();
        });
    });
</script>
