@model Kaizen.Models.AdminModel.LoginModel
@{
    Layout = "Empty";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login-container animated fadeIn">
        <div class="logobox btn-azure padding-top-20 padding-bottom-20" style="color:white;text-align: center;font-size:xx-large;">
            Kaizen Application
        </div>
        <div class="loginbox bg-white">
            <div class="loginbox-title">Reset Password</div>
            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>
            <div class="loginbox-textbox">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input hidden id="uid" name="userId" value="@ViewData["UserId"]" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                        <span class="text-danger">*</span>
                        <div class="editor-container">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter your password", id = "pwd" })
                            <span id="pwdVal"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                        <span class="text-danger">*</span>
                        <div class="editor-container">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your password", id = "Cpwd" })
                            <span id="CpwdVal"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loginbox-submit">
                <button type="submit" class="btn btn-block btn-azure" id="ResetPwd">Reset Password</button>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
}
<script src="~/assets/js/custom/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $("form").validate({
            rules: {
                Password: {
                    required: true,
                    minlength: 6
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: "#pwd"
                }
            },
            messages: {
                Password: {
                    required: "Please enter your password",
                    minlength: "Your password must be at least 6 characters long"
                },
                ConfirmPassword: {
                    required: "Please confirm your password",
                    equalTo: "Passwords do not match"
                }
            },
            errorPlacement: function (error, element) {
                if (element.attr("id") === "pwd") {
                    error.appendTo("#pwdVal");
                } else if (element.attr("id") === "Cpwd") {
                    error.appendTo("#CpwdVal");
                }
            },
            errorClass: "text-danger",
        });

        $(document).on('click', '#ResetPwd', function (e) {
            e.preventDefault();

            if ($("form").valid()) {
                var userId = $('#uid').val();
                var password = $('#pwd').val();
                var Cpassword = $('#Cpwd').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ResetPassword", "Login")',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: {
                        EmpId: userId,
                        Password: password,
                        ConfirmPassword: Cpassword
                    },
                    success: function (response) {
                        swal({
                            text: "Password updated successfully!!",
                        }).then(OK => {
                            window.location.href = '@Url.Action("", "")';
                        });
                    },
                    error: function (xhr, status, error) {
                        swal({
                            text: "Password not updated!!",
                        }).then(OK => {
                            location.reload();
                        });
                    }
                });
            }
        });
    });
</script>
