@using Kaizen.Models.AdminModel
@using Newtonsoft.Json;
@inject IHttpContextAccessor Accessor
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


@{
    var title = "TEPL Kaizen Idea";
}
@{
    var UserType = Accessor.HttpContext.Session.GetString("Userrole");
    var ImageApprover = Accessor.HttpContext.Session.GetString("ImageApprover");
    string selectedTheme = Accessor.HttpContext.Session.GetString("SelectedTheme");
    string startDate = Accessor.HttpContext.Session.GetString("StartDate");
    string endDate = Accessor.HttpContext.Session.GetString("EndDate");

}

@* @{
    var CountListJson = Accessor.HttpContext.Session.GetString("CountList");
    List<CountModel> CountList = new List<CountModel>();

    if (!string.IsNullOrEmpty(CountListJson))
    {
        CountList = JsonConvert.DeserializeObject<List<CountModel>>(CountListJson);
    }
} *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@title</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <link href="~/assets/css/common/common.css" rel="stylesheet" />
    <script src="~/assets/js/custom/jquery.min.js"></script>
    <script src="~/assets/js/custom/sweetalert.min.js"></script>
</head>
<style>
    .list-group .active {
        background-color: #78B7d0 !important;
        color: #fff !important;
    }
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
        z-index: 1000; /* Make sure it covers everything */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #loader {
        border: 10px solid #f3f3f3; /* Light grey */
        border-top: 10px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .list-group-item {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .icon-large {
        font-size: 24px !important; 
    }

    .menu-text {
        flex-grow: 1 !important;
        padding-left:10px !important;
        padding-right: 10px !important;
    }

    .sub-menu .iconify.icon-large {
        font-size: 14px!important; /* Adjust size to medium */
    }

    .sub-menu .menu-text {
        font-size: 12px; 
    }


    .logo{
        width:50px;
    }
    #wc {
        font-size: 15px;
        color: white;
        cursor:pointer!important;
    }

    hr {
        display: block;
     /*    height: 1px; */
        border: 0;
        border-top: 1px solid #ccc;
        margin: 0em 0;
        padding: 0;
        margin-left:12px;
        margin-right:20px;
    }
    .menupadding
    {
        font-weight: bold;
        padding-top: 10px; /* Adjust the top padding */
        padding-bottom: 10px; /* Adjust the bottom padding */
        font-size: 15px; /* Consistent font size for all headings */
        margin-bottom: 5px; /* Remove extra space below headings */
        
    }

        .menupaddingsub
        {
        padding: 10px 15px; /* Consistent padding */
        margin: 0; /* Remove extra margin */
        display: flex; /* Flex layout */
        justify-content: space-between; /* Spread content and icon */
        align-items: center; /* Vertically center items */
        white-space: nowrap; /* Prevent text wrapping */
        }

    #page-content-wrapper {
        flex-grow: 1;
        overflow-y: auto;
        padding: 20px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        text-align: center;
        padding-top: 0px!important ;
        padding-bottom:  0px!important ;

    }

    body {
        background-color: #fff;
        overflow-y: auto;
    }
    .textfor{
    font-size: 13px!important;
    }

    /*Line height changes */


    #sidebar-wrapper{
        width:192px !important;
        overflow-x: hidden;
        padding-top:0px important;
    }

    .list-group-item {
        padding: 0.5rem 1rem; /* Adjust padding as needed */
        font-size: 25px; /* Consistent font size */
        font-weight: bold; /* Consistent font weight */
        display: flex; /* Flex layout for alignment */
        justify-content: space-between; /* Spread content and icon */
        align-items: center; /* Vertically center items */
        white-space: nowrap; /* Prevent text wrapping */
        margin: 0; /* Remove margin */
    }

    .sub-menu .list-group-item {
        padding: 5px 15px; /* Adjust padding for sub-menu items */
        margin-left: 20px; /* Optional: adjust margin for sub-menu items */
       font-size: 13px; /* Increase font size for sub-menu items under "Masters" */
        margin-bottom: 0; /* Remove extra space between sub-menu items */
    }

    #sidebar-wrapper .list-group-item {
        margin-bottom: 3px; /* Reduce margin to decrease space between items */
    }

    .textSize {
        font-size: 14px; /* Adjust the font size if needed */
    }

    .textfor {
        font-size: 13px !important;
    }

    #sidebar-wrapper .list-group .list-group-item:first-child {
        margin-top: 0;
    }
    

    /*Profile and logout dropdown*/
    .dropdown-menu {
    width: 200px; /* Adjust width as needed */
}

.dropdown-item {
    font-size: 14px !important; /* Adjust font size as needed */
}

    label {
        margin: 0;
        padding: 0;
    }

    span {
        margin: 0;
        padding: 0;
    }

        .no-space {
        margin: 0;
        padding: 0;
        display: inline;
    }
</style>
<script type="text/javascript">
    //This script is responsible for checking the user type and redirecting to the login page if not authenticated .
    if ("@UserType" == null || "@UserType" == '') {
        window.location.href = "/Login/Logout";
    }
</script>
<script>
    (function () {

        const idleDurationSecs = @Configuration.GetSection("SessionTimeout")["Time"];
        //const redirectUrl = '/Login/index';
        const redirectUrl = '/Login/Logout';
        let idleTimeout;

        const resetIdleTimeout = function () {
            if (idleTimeout) clearTimeout(idleTimeout);
            idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
        };
        resetIdleTimeout();
        ['click', 'touchstart', 'mousemove'].forEach(evt =>
            document.addEventListener(evt, resetIdleTimeout, false)
        );

    })();
</script>
@* <body class="bg-light" style="background-color:#e9ecef"> *@
<body style="background-color:#e9ecef;overflow-y:hidden"> 
    <div id="wrapper" class="d-flex flex-column">
     
        <nav class="navbar navbar-expand-lg navbar-light" id="container-header" >

            <a class="navbar-brand align-items-center" href="#">
                <img class="logo ml-5" src="~/assets/img/Tata_Logo2 (1).svg" alt="Tata Logo" />
                <label class="text-uppercase text-white ml-3 mr-3" style="font-size: x-large;">Tepl Kaizen</label>

                 @if (!string.IsNullOrEmpty(selectedTheme))

                 {
                <label class="mx-5 ml-3" style="color:white; font-size: large;" loginbox-title>
                    Kaizen Theme For This Month is
                           
                            <span class="" style="color:#FFC436; font-size: large;">
                            @selectedTheme from @startDate to @endDate.
                            </span>
                        All The Best Team!
                    </label>
                }
                    else
                    {
                        <span class="" style="color:#FFC436; font-size: x-large;">
                            There is no active theme at the moment.
                        </span>
                    }
                 
                  
               
               
            </a>
            
            <div class="ml-auto d-flex align-items-center">
             
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle no-caret text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/assets/img/Profile.png" width="30px" class="mr-2" />
                            <Label id="wc" class="text-white">Hi, @Accessor.HttpContext.Session.GetString("Message")
                                <div class="text-white"> @Accessor.HttpContext.Session.GetString("Domain")-@Accessor.HttpContext.Session.GetString("Department")</div>
                            </Label>         
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" onclick = "ProfilePage();" href="#"><i class="fa-regular fa-user text-primary"></i> Profile</a>
                            <a class="dropdown-item" onclick="LogoutOption();" href="#"><i class="fa-solid fa-right-from-bracket text-danger"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
     
       <div>
        <button class="btn menu-toggle m-3" id="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        </div> 
        <!-- /Navbar -->
        <div class="d-flex flex-row">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <!-- Updated HTML Structure -->
                <div class="list-group list-group-flush">
                    @if (UserType == "MGR")
                    {
                        <a href="/Dashboard/Dashboardothers" class="list-group-item list-group-item-action fw-bold text-light menupadding dashboard-link mt-0" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:view-dashboard"></span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                        <a href="/CreateKaizen/NewKaizen" class="list-group-item list-group-item-action fw-bold text-light menupadding kaizen-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:lightbulb-on-outline"></span>
                            <span class="menu-text">New Kaizen</span>
                        </a>
                        <a href="/SubmittedKaizen/ViewKaizen" class="list-group-item list-group-item-action fw-bold text-light menupadding submitted-kaizen-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:check-circle-outline"></span>
                            <span class="menu-text">Submitted Kaizens</span>
                        </a>
                        <a href="/SubmittedKaizen/Dricreatedkaizens" class="list-group-item list-group-item-action fw-bold text-light menupadding submitted-kaizen-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:check-circle-outline"></span>
                            <span class="menu-text">DRI Created Kaizens</span>
                        </a>
                    }
                    @if (UserType == "EMP")
                    {
                        <a href="/Dashboard/EmployeeDashboard" class="list-group-item list-group-item-action fw-bold text-light menupadding employee-dashboard-link mt-0" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:view-dashboard"></span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                        <a href="/CreateKaizen/NewKaizen" class="list-group-item list-group-item-action fw-bold text-light menupadding kaizen-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:lightbulb-on-outline"></span>
                            <span class="menu-text">New Kaizen</span>
                        </a>
                        <a href="/SubmittedKaizen/ViewKaizen" class="list-group-item list-group-item-action fw-bold text-light menupadding submitted-kaizen-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:check-circle-outline"></span>
                            <span class="menu-text">Created Kaizens</span>
                        </a>
                    }
                    @if (UserType == "ADM")
                    {
                        <a href="/Dashboard/Dashboardtab1" class="list-group-item list-group-item-action fw-bold text-light menupadding admin-dashboard-link mt-0" id="activeDashboard" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:view-dashboard"></span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                        <a href="/SubmittedKaizen/ViewKaizen" class="list-group-item list-group-item-action fw-bold text-light menupadding submitted-kaizen-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:check-circle-outline"></span>
                            <span class="menu-text">Submitted Kaizens</span>
                        </a>
                        <a href="/SubmittedKaizen/DeletedKaizen" class="list-group-item list-group-item-action fw-bold text-light menupadding deleted-kaizen-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:trash-can-outline"></span>
                            <span class="menu-text">Deleted Kaizens (<label style="font-size:12px" id="deleteApprovalCountLabel"></label>)</span>
                        </a>
                        <div class="list-group-item list-group-item-action menupadding menupaddingsub textSize masters-link" style="font-size:15px;" data-toggle="collapse" data-target="#demo">
                            <span class="iconify icon-large" data-icon="mdi:cogs"></span>
                            <span class="menu-text">Masters</span>
                            <span class="iconify icon-large dropdown-arrow" data-icon="mdi:chevron-down"></span>
                        </div>
                        <div class="sub-menu collapse menupadding" id="demo">
                            <a class="list-group-item text-light ml-3 menupadding" href="/Admin/AddBlock">
                                <span class="iconify icon-large" data-icon="mdi:domain"></span>
                                <span class="menu-text">Blocks</span>
                            </a>
                            <a class="list-group-item text-light ml-3 menupadding" href="/Admin/AddDomain">
                                <span class="iconify icon-large" data-icon="mdi:domain"></span>
                                <span class="menu-text">Departments</span>
                            </a>
                            <a class="list-group-item text-light ml-3 menupadding" href="/Admin/AddDepartment">
                                <span class="iconify icon-large" data-icon="mdi:domain"></span>
                                <span class="menu-text">Sub-Department</span>
                            </a>
                            <a class="list-group-item text-light ml-3 menupadding" href="/Admin/AddUser">
                                <span class="iconify icon-large" data-icon="mdi:account-plus-outline"></span>
                                <span class="menu-text">New User</span>
                            </a>
                            <a class="list-group-item text-light ml-3 menupadding" href="/ViewUser/ViewUser">
                                <span class="iconify icon-large" data-icon="mdi:account-multiple-outline"></span>
                                <span class="menu-text">View Users</span>
                            </a>
                            <a class="list-group-item text-light ml-3 menupadding" href="/Theme/ThemeChanger">
                                <span class="iconify icon-large" data-icon="mdi:palette-swatch"></span>
                                <span class="menu-text">Add Theme</span>
                            </a>
                            <a class="list-group-item text-light ml-3 menupadding" href="/WinnersList/ViewWinnersList">
                                <span class="iconify icon-large" data-icon="mdi:trophy-outline"></span>
                                <span class="menu-text">Winners List</span>
                            </a>
                            @* Hide the View Managers link *@
                             @* <a class="list-group-item text-light ml-3 menupadding" href="/ViewUser/ViewManagers">
                                <span class="iconify icon-large" data-icon="mdi:account-tie"></span>
                                <span class="menu-text">View Managers</span>
                        </a>*@
                        </div>
                        <a href="/Reports/ReportDownload" class="list-group-item list-group-item-action text-light fw-bold menupadding textSize reports-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:file-download-outline"></span>
                            <span class="menu-text">Reports</span>
                        </a>
                        <div class="list-group-item list-group-item-action menupadding menupaddingsub textSize criteria-link" style="font-size:15px;" data-toggle="collapse" data-target="#demo1">
                            <span class="iconify icon-large" data-icon="mdi:check-outline"></span>
                            <span class="menu-text">Evaluation Criteria</span>
                            <span class="iconify icon-large dropdown-arrow" data-icon="mdi:chevron-down"></span> 
                        </div>
                        <div class="sub-menu collapse menupadding" id="demo1">
                            <a class="list-group-item text-light ml-3 menupadding textfor kaizen-criteria-link" href="/Theme/Kaizencriteria">
                                <span class="iconify icon-large" data-icon="mdi:lightbulb-on"></span>
                                <span class="menu-text">Kaizen</span>
                            </a>
                            <a class="list-group-item text-light ml-3 menupadding textfor breakthrough-criteria-link" href="/Theme/KaizenBreakthrough">
                                <span class="iconify icon-large" data-icon="mdi:star-outline"></span>
                                <span class="menu-text">Breakthrough</span>
                            </a>
                        </div>
                    }
                    @if (ImageApprover == "True")
                    {
                        <a href="/SubmittedKaizen/ViewImageApproval" class="list-group-item list-group-item-action text-light fw-bold menupadding textSize image-approval-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:image-outline"></span>
                            <span class="menu-text">Image Approval (<label style="font-size:12px" id="imageApprovalCountLabel"></label>)</span>
                        </a>
                    }
                    @if (UserType == "IED" || UserType == "FIN")
                    {
                        <a href="/Dashboard/Dashboardothers" class="list-group-item list-group-item-action fw-bold text-light menupadding dashboard-others-link mt-0" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:view-dashboard-outline"></span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                        <a href="/SubmittedKaizen/ViewKaizen" class="list-group-item list-group-item-action fw-bold text-light menupadding textSize submitted-kaizen-link" style="font-size:15px;">
                            <span class="iconify icon-large" data-icon="mdi:check-circle-outline"></span>
                            <span class="menu-text">Submitted Kaizens</span>
                        </a>
                    }
                </div>            
               
            </div>
           
            <!-- /Sidebar -->
            <!-- Page Content -->
            <div id="loader-wrapper">
                <div id="loader"></div>
            </div>
  
            <div id="page-content-wrapper" class="container-fluid flex-grow-1" style="height:calc(100vh - 90px); overflow-y: scroll;">
                @RenderBody()
            </div>
  
        </div>
            
        </div>
    </div>

    <!-- /#wrapper -->
        <div class="footer bg-white  text-center">
            <div class="container py-3 ">
                <p class="mb-0 ">Copyright © TEPL-KAIZEN-IDEA 2024</p>
            </div>
        </div>  
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        function LogoutOption() 
        {
                swal({
                    text: "Are you sure you want to Logout ?",
                    buttons: {
                        confirm: "Yes",
                        cancel: "No",
                    },
                }).then((userConfirmation) => {
                    if (userConfirmation) {
                        window.location = "/Login/Logout";
                    }
                });
        }
    </script>
    <script>
            $(window).on('load', function () {
                $('#loader-wrapper').fadeOut('slow', function () {
                    $(this).remove();
                });
            });
    </script>
    <script>
        function ProfilePage() 
        { 
            window.location.href = '/Profile/Profile';
        }
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Login/GetSerializedCountList',
                type: 'GET',
                success: function (response) {
                    var countList = JSON.parse(response);
                    var imageApprovalCount = countList[0].ImageApprovalCount;
                    var deleteApprovalCount = countList[0].DeletedCount;
                    $('#imageApprovalCountLabel').text(imageApprovalCount);
                    $('#deleteApprovalCountLabel').text(deleteApprovalCount);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handle dropdown toggle, ensure only one dropdown is open at a time
            $('.menupaddingsub').on('click', function () {
                // Collapse all other open dropdowns
                $('.sub-menu').not($(this).next()).collapse('hide');

                // Toggle this dropdown
                $(this).next('.sub-menu').collapse('toggle');
            });

           
        });
    </script>
    <script>
        $(document).ready(function () {
            var currentUrl = window.location.pathname.toLowerCase();

            // Loop through each sidebar link and add 'active' class if the current URL matches the href
            $('.list-group a').each(function () {
                var linkUrl = $(this).attr('href').toLowerCase();
                if (currentUrl === linkUrl) {
                    $(this).addClass('active');
                }
                else
                if (window.location.href.indexOf('Dashboard') > -1) {
                    
                        $('#activeDashboard').addClass('active');
                }
            });
        });

        $(document).ready(function () {
            $('.menupaddingsub').on('click', function () {
                var subMenu = $(this).next('.sub-menu');
                var hasActiveSubItem = subMenu.find('.active').length > 0;

                if (hasActiveSubItem) {
                    $('.sub-menu').not(subMenu).collapse('hide');
                } else {
                    $('.sub-menu').not(subMenu).collapse('hide');
                    subMenu.collapse('toggle');
                }
            });

            var currentUrl = window.location.pathname.toLowerCase();

            $('.list-group a').each(function () {
                var linkUrl = $(this).attr('href').toLowerCase();
                if (currentUrl === linkUrl) {
                    $(this).addClass('active');
                    var parentSubMenu = $(this).closest('.sub-menu');
                    if (parentSubMenu.length) {
                        parentSubMenu.collapse('show');
                    }
                }
            });
        });
        document.querySelector('.masters-link').addEventListener('click', function () {
            const arrow = this.querySelector('.dropdown-arrow');
            if (arrow.getAttribute('data-icon') === 'mdi:chevron-down') {
                arrow.setAttribute('data-icon', 'mdi:chevron-up');
            } else {
                arrow.setAttribute('data-icon', 'mdi:chevron-down');
            }
        });
        document.querySelector('.criteria-link').addEventListener('click', function () {
            const arrow = this.querySelector('.dropdown-arrow');
            if (arrow.getAttribute('data-icon') === 'mdi:chevron-down') {
                arrow.setAttribute('data-icon', 'mdi:chevron-up');
            } else {
                arrow.setAttribute('data-icon', 'mdi:chevron-down');
            }
        });
    </script>
</body>
</html>