@{
    Layout = "SidebarLayout";
}
@using Kaizen.Models.DashboardModel
<style>
    .card-container {
        margin-bottom: 20px;
    }

    .card {
        padding: 15px;
    }

    .card-header {
        font-weight: bold;
    }

    .card-item {
        background-color: rgb(135, 206, 235, 0.5);
        color: black;
        border: 1px dashed #007bff;
        text-align: center;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        font-weight: 600;
    }

    #dHeader {
        text-align: center;
        font-size: 16px !important;
        margin-top: -10px;
        margin-left: 7px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
<div class="card ml-2 mr-2 bg-light">
    <nav>
        <div class="container-fluid rounded bg-white p-2 mt-2 mb-2">
            <div class="col-lg-12 p-md-0 p-2">
                <div class="welcome-text">
                    <label id="dHeader">Masters -->Dashboard</label>
                </div>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link  active" id="nav-home-tab" href="@Url.Action("Dashboardtab1", "Dashboard")" role="tab" aria-controls="nav-home" aria-selected="true">Total Kaizen's Submitted</a>
                <a class="nav-link" id="nav-profile-tab" href="@Url.Action("Dashboardtab2", "Dashboard")" role="tab" aria-controls="nav-profile" aria-selected="false">Filter by Department, Domain</a>
                <a class="nav-link " id="nav-contact-tab" href="@Url.Action("Dashboardtab3", "Dashboard")" role="tab" aria-controls="nav-contact" aria-selected="false">Monthly, Yearly table</a>
                <a class="nav-link " id="nav-contact-tab" href="@Url.Action("Dashboardtab4", "Dashboard")" role="tab" aria-controls="nav-contact" aria-selected="false">Graphs</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card" id="main-container">
                    <!-- First Row of Cards -->
                    <div class="card-container">
                        <div class="card mt-2">
                            <div class="card-header">Total Kaizens Submitted / Total Employees in Domain</div>
                            <div class="card-body">
                                <div class="row">
                                    @foreach (var domain in Model.DomainList)
                                    {
                                        <div class="col-md-4 col-lg-3 col-xl-2 card-item" data-domain-id="@domain.Id" data-card-type="first">
                                            <div>@domain.DomainName</div>
                                            <div> @domain.AllKaizenSubmitted/ @domain.User_count</div>
                                            <div>0.00%</div>
                                        </div>
                                    }
                                </div>
                            </div>
                            

                        </div>
                    </div>
                   
                    <div class="container" id="container-middle" style="display: none;">
                        <div class="card-container">
                            <div class="card mt-2">
                                <div class="card-header">Departments under Selected Domain/Total Kaizen Submitted</div>
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Dynamic content will be appended here -->
                                    </div>
                                </div>
                                <button type="reset" class="btn col-lg-2 m-1 btn-warning" id="configreset" value="Reset">Hide</button>
                            </div>
                           
                        </div>
                    </div>
                    <!-- Second Row of Cards -->
                    <div class="card-container">
                        <div class="card">
                            <div class="card-header">Total Employees Submitted Kaizens / Total Employees in Domain </div>
                            <div class="card-body">
                                <div class="row">
                                    @foreach (var domain in Model.DomainList)
                                    {
                                        <!-- Added data-domain-id attribute to store the domain ID -->
                                        <div class="col-md-4 col-lg-3 col-xl-2 card-item" data-domain-id="@domain.Id" data-card-type="second">
                                            <div>@domain.DomainName</div>
                                            <div>@domain.KaizenSubmittedUser/ @domain.User_count</div>
                                            <div>0.00%</div>
                                        </div>
                                        
                                    }
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Container -->
                    <div class="container" id="container-end" style="display: none;">
                      
                        <!-- End container to display fetched data -->
                        <div class="card-container">
                            <div class="card mt-2">
                                <div class="card-header">Total Employees Submitted Kaizens / Total Employees in Department</div>
                                <div class="card-body ">
                                    <div class="row">
                                        <!-- Dynamic content will be appended here -->
                                        
                                    </div>
                                </div>
                                <button type="reset" class="btn col-lg-2 m-1 btn-warning" id="configreset1" value="Reset">Hide</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </nav>
</div>
</div>

<script>
   
    $(document).ready(function () {
        $('#configreset').click(function () {
           
            hideContainer('container-middle');
        });
        $('#configreset1').click(function () {

            hideContainer('container-end');
        });

        $('.card-item').click(function () {
            var domainId = $(this).data('domain-id'); // Fetch the domain ID
            var cardType = $(this).data('card-type'); // Fetch the card type

            $.ajax({
                type: 'POST',
                url: '/Admin/FetchDepartment',
                dataType: "json",
                data: { DomainID: domainId }, 
                success: function (result) {
                    if (result) {
                        if (cardType === 'first') {
                            // Update middle container
                            const middleContainer = $('#container-middle');
                            const middleRow = middleContainer.find('.row');
                            middleRow.empty();
                            middleContainer.show(); // Show the middle container

                            result.forEach(department => {
                                const departmentHtml = `
                                  <div class="col-md-4 col-lg-3 col-xl-2 card-item">
                                    <div>
                                      ${department.departmentName}
                                          <div>${department.kaizen_count}/ ${department.user_count}</div>
                                      <div>0.00 %</div>
                                    </div>
                                  </div>
                                `;

                                middleRow.append(departmentHtml);
                            });
                        } else if (cardType === 'second') {
                            const endContainer = $('#container-end');
                            const endRow = endContainer.find('.row');
                            endRow.empty();
                            endContainer.show(); 

                            result.forEach(department => {
                                const departmentHtml = `
                                      <div class="col-md-4 col-lg-3 col-xl-2 card-item">
                                        <div>
                                          ${department.departmentName}
                                              <div>  ${department.kaizenSubmitedCountdept}/ ${department.user_count}</div>
                                          <div>0.00 %</div>
                                        </div>
                                      </div>
                                    `;
                                endRow.append(departmentHtml);
                            });
                        }
                    } 
                },
               
            });
        });
    });
    function hideContainer(containerId) {
        $('#' + containerId).hide();
    }
</script>